body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    margin: 0px 100px;
}

.navbar1 img {
    height: 50px;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    margin: 0px 20px;
}

.quote-button {
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.quote-button:hover {
    background-color: #000;
    color: #fff;
}