.page_selection {
    text-decoration: none;
    padding: 5px 1px;
    border-radius: 11px;
    background-color: #B9FF66;
    color: rgb(255, 255, 255);
}

.hamburger {
    display: none;
}

/* 中间内容部分 */

.middle_content {
    background-color: #f3f3f3;
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    border-radius: 20px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.big_picture {
    flex: 1;
    max-width: 100%;
    height: auto;

}

.bigpicture2 {
    display: none;
}

.text {
    flex: 1;
    max-width: 500px;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}

h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    color: #000;
    margin-bottom: 40px;
}

/* 下面内容部分 */

.down_cotent {
    background-color: #000000;
    width: 90%;
    height: 100%;
    max-width: 1310px;
    margin: 60px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

}

.featured_success_story h2 {
    background-color: #B9FF66;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
}

.star {
    display: none;
}

.text1 {
    color: white;
    font-size: 35px
}

.text2 {
    color: rgb(214, 214, 214);
}

.clickicon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.clickicon img {
    width: 38px;
}

.read {
    color: #B9FF66;
    font-size: 20px;
    font-weight: 500;
}


.clickiconphone {
    display: none;
}

.left {
    max-width: 60%;
    width: 800px;
    margin: 20px 90px;
}

.right {
    margin: 20px 80px;
}

.grid-box {
    background-color: white;
    width: 160px;
    height: 180px;
    border-radius: 20px;
    margin-top: 20px;

}

.rightgrid1 {
    display: flex;
    gap: 20px;
}

.rightgrid2 {
    display: flex;
    gap: 20px;
}

.grid-box h2 {
    font-size: 40px;
    margin: 0 0 6px 0;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.grid-box p {
    font-size: 20px;
    color: #444;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}

.gridboxphone {
    display: none;
}

.textphone {
    display: none;
}

.tittlestar {
    display: none;
}

/* 响应式设计 */
@media screen and (max-width: 1350px) {

    .navbar1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        background-color: #ffffff;
        margin: 0px 100px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar1 {
        margin: 0 20px;
    }

    .middle_content {
        background-color: #f3f3f3;
        width: 80%;
        max-width: 1200px;
        margin: 60px auto;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        gap: 100px;
        align-items: center;
    }

    h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 25px;
    }

    .down_cotent {
        background-color: #000000;
        width: 90%;
        height: 100%;
        max-width: 1200px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .featured_success_story h2 {
        background-color: #B9FF66;
        display: inline-block;
        padding: 12px 24px;
        border-radius: 10px;
        font-size: 30px;
        color: #000;
        margin-bottom: 25px;
    }

    .text1 {
        color: white;
        font-size: 25px
    }

    .text2 {
        color: rgb(214, 214, 214);
        font-size: 14px
    }

    .right {
        margin: 20px 80px;
    }

    .grid-box {
        background-color: white;
        width: 160px;
        height: 180px;
        border-radius: 20px;
        margin-top: 20px;

    }

    .rightgrid1 {
        display: flex;
        gap: 20px;
    }

    .rightgrid2 {
        display: flex;
        gap: 20px;
    }

    .grid-box h2 {
        font-size: 30px;
        margin: 0 0 6px 0;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
    }

    .grid-box p {
        font-size: 15px;
        color: #444;
        margin: 0;
        line-height: 1.2;
        text-align: center;
    }

}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 47px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 17px;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
        margin-bottom: 40px;
    }

    .featured_success_story h2 {
        background-color: #B9FF66;
        display: inline-block;
        padding: 12px 24px;
        border-radius: 10px;
        font-size: 25px;
        color: #000;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:1000px) {
    h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 15px;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
        margin-bottom: 40px;
    }

    .left {
        margin: 15px;
        width: 600px;
    }

    .down_cotent {
        background-color: #000000;
        width: 95%;
        height: 500px;
        max-width: 1200px;
        border-radius: 20px;
        justify-content: space-between;
    }

    .featured_success_story h2 {
        background-color: #B9FF66;
        display: inline-block;
        padding: 12px 24px;
        border-radius: 10px;
        font-size: 20px;
        color: #000;
        margin-bottom: 25px;
    }

    .text1 {
        color: white;
        font-size: 20px
    }
}

@media screen and (max-width:700px) {

    h1 {
        width: 300px
    }

    .middle_content {
        display: flex;
        gap: 20px;
        max-width: 80%;
        width: 500px;
        height: 500px;
        background-color: unset;
    }

    .text h1 {
        font-size: 30px;
        margin-bottom: 10px;
        align-items: left;
    }

    .big_picture {
        display: none;
    }

    .bigpicture2 {
        display: block;
        max-width: 100%;
        align-items: center;
    }

    .text h3 {

        font-size: 15px;
        line-height: 1.4;
    }

    .text {
        max-width: 100%;
    }

    .down_cotent {
        background-color: #000000;
        width: 80%;
        height: 1100px;
        max-width: 1200px;
        border-radius: 20px;
        justify-content: space-between;
    }

    .featured_success_story h2 {
        display: none;
    }

    .left {
        display: none;
    }

    .star {
        display: block;
        max-width: 10%;
        margin: 10px;
    }

    .four_grids {
        display: none;
    }

    .gridboxphone {
        display: block;
    }

    .textphone {
        display: block;
    }

    .grid-box {
        background-color: #ffffff;
        border-radius: 20px;
        width: 250px;
        height: 150px;
        margin: 15px;
    }


    .text1 {
        color: white;
        font-size: 20px;
        margin: 20px;
    }

    .text2 {
        color: rgb(214, 214, 214);
        margin: 20px;
    }

    .tittlestar {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        cursor: pointer;
        max-width: 15%;

    }

    .tittlestar img {
        width: 100%;
        margin: 20px 20px;
    }

    .featured {
        color: #B9FF66;
        font-size: 40px;
    }

    .clickiconphone {
        display: block;
    }

    .clickiconphone {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 25px;
        cursor: pointer;
    }

    .clickiconphone img {
        width: 38px;
    }

    .read {
        color: #B9FF66;
        font-size: 20px;
        font-weight: 500;
    }
}