body {
    margin: 0;
    background-image: url(../images/travel/gradianback1.jpeg);
    background-size: cover;
}

.container {
    position: relative;
    width: 30%;
    background-color: skyblue;
    border-radius: 20px;
    margin: 30px auto;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid img {
    width: 400px;
    max-width: 100%;
    border-radius: 20px;
}

.text h1 {
    color: rgb(0, 85, 255);
    font-size: 30px;
    margin: 0 30px;
}

.text h2 {
    color: rgb(0, 85, 255);
    font-size: 24px;
    font-weight: 400;
    opacity: 50%;
    margin: 30px;
}

.twoicon {
    display: flex;
    gap: 10px;
    margin: 0 30px;
}

.twoicon img {
    width: 40px;
    opacity: 50%;
    background-color: rgb(0, 85, 255);
    padding: 5px;
    border-radius: 50px;
}

.last {
    display: flex;
    gap: 10px;
    margin: 20px 30px;
}

.last img {
    width: 40px;
    opacity: 50%;
    background-color: rgb(0, 85, 255);
    padding: 5px;
    border-radius: 50px;
}

.last h4 {
    margin-top: 13px;
    font-weight: 400;
    color: rgb(0, 85, 255);
    opacity: 50%;
}

.like {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.like img {
    width: 40px;
    background-color: rgb(0, 85, 255);
    opacity: 0.7;
    padding: 5px;
    border-radius: 50%;
}

.card {
    position: absolute;
    top: -160px;
    left: -300px;
    background-color: aqua;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    display: none;
}

.card img {
    width: 60px;
    border-radius: 50px;
    opacity: 100%;
    margin: 20px;
}

.card h1 {
    color: rgb(0, 85, 255);
    opacity: 50%;
    position: relative;
    bottom: 80px;
    left: 130px;
    margin: 0;
    width: 150px;
}

.line {
    position: relative;
    bottom: 60px;
    left: 20px;
    background-color: #00c8ff;
    width: 355px;
    height: 3px;
    border-radius: 5px;
    box-shadow:
        0 0 10px #00c8ff,
        0 0 30px #00c8ff,
        inset 0 0 10px #00c8ff;
}

.like:hover .card {
    display: block;
}

/* 第二个 */

.containers {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 30%;
    height: auto;
    border-radius: 20px;
    margin: 30px auto;
}

.grids {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grids img {
    width: 400px;
    max-width: 100%;
    border-radius: 20px;
}

.texts h1 {
    color: rgb(255, 0, 0);
    font-size: 30px;
    margin: 0 30px;
}

.texts h2 {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 400;
    margin: 30px;
}

.twoicons {
    display: flex;
    gap: 10px;
    margin: 0 30px;
}

.twoicons img {
    width: 40px;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 50px;
}

.lasts {
    display: flex;
    gap: 10px;
    margin: 20px 30px;
}

.lasts img {
    width: 40px;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 50px;
}

.lasts h4 {
    margin-top: 13px;
    font-weight: 400;
    color: rgb(255, 0, 0);
}

.likes {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.likes img {
    width: 40px;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 50px;
}

.cards {
    position: absolute;
    top: -160px;
    left: -300px;
    background-color: rgb(255, 118, 237);
    width: 400px;
    height: 150px;
    border-radius: 20px;
    display: none;
}

.cards img {
    width: 60px;
    border-radius: 50px;
    margin: 20px;
}

.cards h1 {
    color: #ff0000;
    position: relative;
    bottom: 80px;
    left: 100px;
    margin: 0;
    width: 300px;
    font-size: 30px;
    ;
}

.lines {
    position: relative;
    bottom: 60px;
    left: 20px;
    background-color: rgb(255, 0, 0);
    width: 355px;
    height: 3px;
    border-radius: 5px;
    box-shadow:
        0 0 10px rgb(255, 0, 0),
        0 0 30px rgb(255, 0, 0),
        inset 0 0 10px rgb(255, 0, 0);
}

.likes:hover .cards {
    display: block;
}

.wrapper {
    display: flex;
}

@media screen and (max-width:1100px) {
    .last {
        position: relative;
        top: 44px;
    }

    .lastss {
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width:1000px) {
    body {
        background-image: url(../images/travel/gradianback2.jpeg);
        background-size: cover;
    }

    .wrapper {
        display: block
    }

    .container {
        width: 65%;
    }

    .containers {
        width: 65%;
    }

    .containerss {
        width: 65%;
    }

    .last {
        position: relative;
        top: -20px;
    }

    .lasts {
        position: relative;
        top: -20px;
    }

    .lastss {
        position: relative;
        top: -20px;
    }

    .textss h1 {
        font-size: 30px;
    }

    .text h2 {
        font-size: 20px;
    }

    .texts h2 {
        font-size: 20px;
    }

    .textss h2 {
        font-size: 20px;
    }
}