body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    opacity: 75%;
}

.prg {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    opacity: 50%;
    font-weight: normal;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin: 50px auto;
}

.card {
    width: 30%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    width: 100%;
    border-radius: 20px;
}

.card-box {
    background-color: aliceblue;
    border-radius: 20px;
    width: 90%;
    margin-top: -60px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-box h3 {
    opacity: 75%;
}

.readbtn {
    color: green;
    opacity: 75%;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.readbtn:hover {
    color: #0bbf4f;
}

.card:hover {
    transform: scale(1.05);
}

@media screen and (max-width:1000px) {

    .prg {
        width: 700px;
    }

    .card {
        width: 45%;
    }
}

@media screen and (max-width:700px) {

    h1 {
        font-size: 28px;
    }

    .prg {
        width: 350px;
        font-size: 14px;
    }

    .card {
        width: 90%;
    }

    .card-box {
        margin-top: -40px;
        width: 85%;
    }

    .card-img {
        max-width: 90%;
        margin: 0 auto;
    }

    .card-box h3 {
        font-size: 14px;
    }

    .readbtn {
        font-size: 16px;
    }
}