body {
    margin: 0;
}

h1 {
    text-align: center;
    opacity: 75%;
}

.prg {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    opacity: 50%;
    font-weight: normal;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.picture {
    max-width: 30%;
    border-radius: 20px;
}

.text {
    position: relative;
    bottom: 90px;
    display: flex;
    gap: 95px;
    justify-content: center;
}

.grid {
    background-color: aliceblue;
    width: 25%;
    border-radius: 20px;
    height: 200px;
}

.grid h3 {
    position: relative;
    top: 20px;
    text-align: center;
    margin: 0px 15px;
    opacity: 75%;
}

.button {
    position: relative;
    top: -180px;
    display: flex;
    justify-content: center;
    gap: 295px;
}

.button h2 {
    color: green;
    opacity: 75%;
}

.images1 {
    display: none;
}

.downcontant1 {
    display: none;
}

@media screen and (max-width:700px) {
    h1 {
        text-align: center;
        opacity: 75%;
        font-size: 30px;
    }

    .prg {
        text-align: center;
        margin: 0 auto;
        width: 400px;
        opacity: 50%;
        font-weight: normal;
        font-size: 12px;
    }

    .images {
        display: none;
    }

    .downcontant {
        display: none;
    }

    .images1 {
        display: block;
    }

    .downcontant1 {
        display: block;
    }

    .picture1 {
        max-width: 70%;
        border-radius: 20px;
    }

    .images1 img {
        margin: 0px 75px;
    }

    .grid1 {
        position: relative;
        top: -100px;
        background-color: aliceblue;
        width: 50%;
        border-radius: 20px;
        height: 150px;
        margin: 0 auto;
    }

    .grid1 h3 {
        position: relative;
        top: 20px;
        text-align: center;
        margin: 0px 20px;
        opacity: 75%;
        font-size: 14px;
    }

    .grid1 h2 {
        color: green;
        opacity: 75%;
        font-size: 18px;
        text-align: center;
        margin-top: 50px;
    }
}