.error {
    font-size: 200px;
    text-align: center;
    color: white;
    opacity: 50%;
    margin: 0;
}

.number {
    font-size: 128px;
    text-align: center;
    color: white;
    opacity: 50%;
    margin: 0;
}

.charactor404 {
    width: 15%;
    display: block;
    margin: 0px auto 0;
}

.allbutton {
    display: flex;
    justify-content: center;
    gap: 226px;
    margin: 26px;
}

/* 平板响应式变化 */
@media screen and (max-width:1080px) {
    .error {
        font-size: 150px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .number {
        font-size: 96px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .charactor404 {
        width: 30%;
        display: block;
        margin: 0px auto 0;
    }

    .allbutton {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 26px;
    }

}

/* 手机响应式变化 */
@media screen and (max-width:720px) {
    .error {
        font-size: 100px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .number {
        font-size: 64px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .charactor404 {
        width: 30%;
        display: block;
        margin: 0px auto 0;
    }

    .allbutton {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 26px;
    }

}