.error {
    font-size: 200px;
    text-align: center;
    color: white;
    opacity: 50%;
    margin: 0;
}

.number {
    font-size: 128px;
    text-align: center;
    color: white;
    opacity: 50%;
    margin: 0;
}

.charactor404 {
    width: 15%;
    display: block;
    margin: 0px auto 0;
}

.allbutton {
    display: flex;
    justify-content: center;
    gap: 226px;
    margin: 26px;
}

.button {
    display: block;
    width: 30%;
    padding: 5px;
    border-radius: 46px;
    background: linear-gradient(120deg,
            #0024ff,
            #ff0000,
            #ff4b00,
            #0024ff);
}

.button a {
    display: block;
    width: 100%;
    padding: 30px 20px;
    border-radius: 46px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #fdfdfd;
    box-sizing: border-box;
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    text-decoration: none;
}

/* 平板响应式变化 */
@media screen and (max-width:1080px) {
    .error {
        font-size: 150px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .number {
        font-size: 96px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .charactor404 {
        width: 30%;
        display: block;
        margin: 0px auto 0;
    }

    .allbutton {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 26px;
    }

    .button {
        display: block;
        width: 30%;
        padding: 5px;
        border-radius: 46px;
        background: linear-gradient(120deg,
                #0024ff,
                #ff0000,
                #ff4b00,
                #0024ff);
    }

    .button a {
        display: block;
        width: 100%;
        padding: 20px 20px;
        border-radius: 46px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.15em;
        color: #fdfdfd;
        box-sizing: border-box;
        background: linear-gradient(to top, #CD0000 0%, #000000 100%);
        text-decoration: none;
    }
}

/* 手机响应式变化 */
@media screen and (max-width:720px) {
    .error {
        font-size: 100px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .number {
        font-size: 64px;
        text-align: center;
        color: white;
        opacity: 50%;
        margin: 0;
    }

    .charactor404 {
        width: 30%;
        display: block;
        margin: 0px auto 0;
    }

    .allbutton {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 26px;
    }

    .button {
        display: block;
        width: 45%;
        padding: 5px;
        border-radius: 46px;
        background: linear-gradient(120deg,
                #0024ff,
                #ff0000,
                #ff4b00,
                #0024ff);
    }

    .button a {
        display: block;
        width: 100%;
        padding: 20px 20px;
        border-radius: 46px;
        text-align: center;
        font-size: 8px;
        letter-spacing: 0.15em;
        color: #fdfdfd;
        box-sizing: border-box;
        background: linear-gradient(to top, #CD0000 0%, #000000 100%);
        text-decoration: none;
    }

}