.herosection {
    background-image: url('../images/about\ image.jpg');
}

.first-section {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.first-section-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.first-section-image img {
    padding-right: 20px;
}

.first-section-test {
    width: 55%;
    padding-right: 50px;
}

.first-section-test h5 {
    margin: 0;
}

.first-section-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.first-section-test p {
    margin-bottom: 0;
    line-height: 2.5;
}