.herosection {
    background-image: url('../images/about\ image.jpg');
}

.aboutredline {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.aboutredline-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.aboutredline-image img {
    padding-right: 20px;
}

.aboutredline-test {
    width: 55%;
    padding-right: 50px;
}

.aboutredline-test h5 {
    margin: 0;
}

.aboutredline-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.aboutredline-test p {
    margin-bottom: 0;
    line-height: 2.5;
    color: var(--colorwhite);
}

.memberintro {
    background-color: var(--colorwhite);
    align-items: normal;
}

.intro h1,
p {
    color: var(--colorblack);
}

.memberintro h1 {
    margin: 0px auto 20px;
}

.boxaboutintro {
    display: flex;
    margin: 30px;
    gap: 80px;
}

.intro {
    width: 90%;
}

.ourmember {
    margin: 150px 54px 0 54px;
}

.title h1 {
    text-align: center;
}

.member {
    width: 100%;
    padding: 0;
}

.member img {
    border-radius: 38px;
}

.second-button {
    margin: 0px auto 20px 30px;
}

.ourproduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/product.png);
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    min-height: 703px;
    color: var(--colorwhite);
}

.ourproduct h1 {
    margin: 0;
}

.ourproduct p {
    width: 60%;
    text-align: center;
    color: var(--colorwhite);
    line-height: 2.5;
}

.ourstrategy {
    display: flex;
    align-items: center;
    margin-top: 15%;
    flex-direction: row-reverse;
}

.ourstrategy-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.ourstrategy-image img {
    padding-right: 20px;
}

.ourstrategy-test {
    width: 55%;
    padding-left: 54px;
}

.ourstrategy-test h5 {
    margin: 0;
}

.ourstrategy-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.ourstrategy-test p {
    margin-bottom: 0;
    line-height: 2.5;
    color: var(--colorwhite);
}

.ourbenifit {
    display: flex;
    align-items: center;
    margin-top: 15%;
}

.ourbenifit-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.ourbenifit-image img {
    padding-right: 20px;
}

.ourbenifit-test {
    width: 55%;
    padding-right: 50px;
}

.ourbenifit-test h5 {
    margin: 0;
}

.ourbenifit-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.ourbenifit-test p {
    margin-bottom: 0;
    line-height: 2.5;
    color: var(--colorwhite);
}

li {
    padding-top: 10px;
}