.herosection {
    background-image: url('../images/about\ image.jpg');
}

.aboutredline {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.aboutredline-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.aboutredline-image img {
    padding-right: 20px;
}

.aboutredline-test {
    width: 55%;
    padding-right: 50px;
}

.aboutredline-test h5 {
    margin: 0;
}

.aboutredline-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.aboutredline-test p {
    margin-bottom: 0;
    line-height: 2.5;
    color: var(--colorwhite);
}

.memberintro {
    background-color: var(--colorwhite);
    align-items: normal;
}

.intro h2,
p {
    color: var(--colorblack);
}

.intro p {
    line-height: 2.5;
}

.memberintro h1 {
    margin: 0px auto 20px;
}

.boxaboutintro {
    display: flex;
    margin: 0;
    gap: 80px;
}

.intro {
    width: 90%;
}

.intro h2 {
    margin: 0 auto 20px;
}

.ourmember {
    margin: 150px 54px 0 54px;
}

.title h1 {
    text-align: center;
}

.member {
    width: 100%;
    padding: 0;
}

.member img {
    border-radius: 38px;
}

.second-button {
    margin: 0px auto 0 0;
}

.ourproduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/product.png);
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    min-height: 703px;
    color: var(--colorwhite);
}

.ourproduct h1 {
    margin: 0;
}

.ourproduct p {
    width: 60%;
    text-align: center;
    color: var(--colorwhite);
    line-height: 2.5;
}

.ourstrategy {
    display: flex;
    align-items: center;
    margin-top: 15%;
    flex-direction: row-reverse;
}

.ourstrategy-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.ourstrategy-image img {
    padding-right: 20px;
}

.ourstrategy-test {
    width: 55%;
    padding-left: 54px;
}

.ourstrategy-test h5 {
    margin: 0;
}

.ourstrategy-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.ourstrategy-test p {
    margin-bottom: 0;
    line-height: 2.5;
    color: var(--colorwhite);
}

.ourbenifit {
    display: flex;
    align-items: center;
    margin-top: 15%;
}

.ourbenifit-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.ourbenifit-image img {
    padding-right: 20px;
}

.ourbenifit-test {
    width: 55%;
    padding-right: 50px;
}

.ourbenifit-test h5 {
    margin: 0;
}

.ourbenifit-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.ourbenifit-test p {
    margin-bottom: 0;
    line-height: 2.5;
    color: var(--colorwhite);
}

li {
    padding-top: 10px;
}

.second-button:hover a {
    border-color: #ff0000;
    animation: red-glow-breath 1.5s infinite ease-in-out;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 10px;
    transition: transform 0.4s ease;
}

.box {
    min-width: 100%;
    flex: 0 0 calc(100% / 3.5);
}

.carousel {
    overflow: hidden;
}

.nav-button {
    display: flex;
    justify-content: space-between;

}

.nav {
    transform: translateY(-50%);
    font-size: 4rem;
    color: var(--colorwhite);
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 20px;
    margin-left: -20px;
    margin-right: -20px;
}

@media screen and (max-width:1080px) {
    .aboutredline {
        flex-direction: column;
    }

    .aboutredline-image {
        order: 2;
        margin-top: 5%;
        width: 60%;
    }

    .aboutredline-image img {
        padding-right: 0;
        width: 90%;
    }

    .aboutredline-test h1 {
        text-align: center;
    }

    .aboutredline-test {
        order: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-right: 0;
    }

    .aboutredline-test p {
        width: 90%;
    }

    .ourstrategy {
        flex-direction: column;
    }

    .ourstrategy-image {
        order: 2;
        margin-top: 5%;
        width: 50%;
    }

    .ourstrategy-image img {
        padding-right: 0;
        width: 90%;
    }

    .ourstrategy-test {
        order: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    .ourstrategy-test p {
        width: 90%;
    }

    .ourbenifit {
        flex-direction: column;
    }

    .ourbenifit-image {
        order: 2;
        margin-top: 5%;
        width: 50%;
    }

    .ourbenifit-image img {
        padding-right: 0;
        width: 90%;
    }

    .ourbenifit-test {
        order: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-right: 0;
    }

    .scrollcontainer {
        flex-direction: column;
        overflow-x: visible;
    }
}

@media screen and (max-width:900px) {
    .aboutredline-test h1 {
        width: 85%;
    }

    .boxaboutintro {
        flex-direction: column;
        gap: 30px;
        margin: 0px;
        align-items: center;
    }

    .second-button {
        margin: 20px auto 0;
    }
}

@media screen and (max-width:720px) {
    .ourproduct {
        min-height: 500px;
    }
}

@media screen and (max-width:500px) {
    .ourproduct p {
        width: 80%;
    }
}

@media screen and (max-width:425px) {
    .ourproduct {
        min-height: 300px;
    }

    .ourmember {
        margin: 100px 54px 0 54px;
    }

    .aboutredline-test h1 {
        width: 90%;
    }

    .scrollsection {
        margin: 0;
        padding: 0;
    }

    .scrollcontainer {
        padding: 0;
    }

    .intro p {
        line-height: 1.5;
    }

    .nav {
        font-size: 3rem;
    }
}