/* herosection */
.herosection {
    background-image: url('../images/blogherosectionpc.png');

}

/* Filter Bar*/
.filter-bar {
    text-align: center;
    padding: 30px 0;

    margin: 0 54px;
}

.filter-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-bar h5,
a {
    opacity: 70%;
    color: var(--colorwhite)
}

.filter-bar h5 {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

.filter-bar a {
    text-decoration: none;
    transition: color 0.3s;
}

/* section1 */
.section-featured-article {
    margin: 0 54px;
}

.section-featured-article h1 {
    text-align: center;
}

.gradient-card-inner {
    background-color: var(--colorblack)
}

.upcontent {
    display: flex;

}

.featured {
    font-size: 40px;
    color: var(--colorwhite);
    text-align: left;
    position: absolute;
    top: 20px;
    left: 40px;
}

.category {
    margin: 0;
    opacity: 30%;
    position: absolute;
    top: 20px;
    right: 40px;
}

.boxsection1 {
    width: 100%;
    position: relative;
}

.content {
    display: flex;
    margin: 40px 0;
}

.content img {
    width: 55%;
    margin: 20px;
}

.rightcontent h5 {
    margin: 80px 0;
}

.rightcontent p {
    margin: 150px 0;
}

.read-more {
    text-decoration: none;
    color: var(--colorred);
    font-size: 20px;
}

/* section2 */
.tittle {
    text-align: center;
    margin: 100px 54px 20px 54px;
}

.tittle h5,
.tittle h1 {
    margin: 0;
}

.tittle h5 {
    opacity: 70%;
}

.gradient-card {
    position: relative;
}

.boxsection2 {
    width: 100%;
    margin: 20px 0;
}

h5.right {
    margin: 0;
    opacity: 30%;
    position: absolute;
    right: 40px;
    top: 15px;
}

.gradient-card-inner {
    align-items: unset;
}

.uptittle h5 {
    margin: 20px;
}

.latest-articles-boxes {
    margin: 0 54px;
}

.downcontent {
    margin: 20px;
}

.downcontent p.date-latest {
    font-family: "Audiowide", sans-serif;
    position: absolute;
    top: 55px;
}

.downcontent p {
    margin: 20px 0 0 0;
}

/* section3 */
.browse-section {
    margin: 0 54px;
}

.boxsection3 {
    width: 22.5%;
}

.text {
    margin: 30px;
    width: 80%
}

.text h5 {
    margin: 0;
}

.boxgap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px 0;
}

/* section4 */
.emailbox {
    text-align: center;
    margin: 100px 0;
}

.emailbox input {
    width: 40%;
    height: 50px;
    padding: 10px 20px;
    background-color: #4C4C4C;
    border-radius: 40px;
    border: 0;
    font-size: 24px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

.emailbox p {
    opacity: 50%;
    margin: 50px 0 0 0;
}