body {
    margin: 0;
    font-family: "Audiowide", sans-serif;
    background-color: #151515;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 16px;
    font-family: Inter;
    line-height: 35px;
}

.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 54px;
    background: linear-gradient(to right,
            #000000 29%,
            #C30007 100%);
}

.logo img {
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 70px;
    font-family: "Audiowide", sans-serif;
}

.menu>a,
.menu-item>a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    letter-spacing: 0.06em;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.menu>a:hover,
.menu-item>a:hover {
    color: #ffffff;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}


.menu-item {
    position: relative;
}

.submenu1,
.submenu2,
.submenu3 {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    padding: 8px 0;
    border-radius: 0 0 20px 20px;
    z-index: 99;
}

.submenu1 a,
.submenu2 a,
.submenu3 a {
    display: block;
    padding: 8px 18px;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #f8f8f8;
    text-decoration: none;
    white-space: nowrap;
}

.submenu1 a:hover,
.submenu2 a:hover,
.submenu3 a:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

.menu-item:hover .submenu1,
.menu-item:hover .submenu2,
.menu-item:hover .submenu3 {
    display: block;
}

.submenu1 {
    position: absolute;
    left: -15px;
    min-width: 160px;
    background: linear-gradient(to right,
            #3d0002 0%,
            #580205 100%);
}


.submenu2 {
    position: absolute;
    left: -15px;
    min-width: 200px;
    background: linear-gradient(to right,
            #6b0004 0%,
            #900005 100%);
}


.submenu3 {
    position: absolute;
    left: -10px;
    min-width: 230px;
    background: linear-gradient(to right,
            #8b0005 0%,
            #b80006 100%);
}

/* footer */
footer {
    background-color: #BE0108;
    padding: 20px 0px;
    margin-top: 10%;
    box-shadow: 0px -10px 40px #be0108c4;
}

.footercontentbox {
    display: flex;
}

.footerinfor {
    width: 40%;
    margin: auto;
}

.location {
    display: flex;
    gap: 20px;
}

.location img {
    margin: auto 0px;
}

.phnumber {
    display: flex;
    gap: 20px;
}

.phnumber img {
    margin: auto 0px;
}

.redlinegmail {
    display: flex;
    gap: 20px;
}

.redlinegmail img {
    margin: auto 0px;
}

.aboutteam {
    width: 30%;
    margin: 0px auto;
}

.socialmediaicon {
    display: flex;
    gap: 60px;
    margin: 60px 0px 0px 0px;
}

.footerinfor h5 {
    color: black;
}

.atcontent h5 {
    color: black;
}

.atcontent p {
    color: black;
}

.phoneview {
    display: none;
}

.menu-toggle {
    position: relative;
    left: 280px;
    top: 10px;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
}

.menu1 {
    display: flex;
    gap: 10px;
}

/* 平板响应式变化 */
@media screen and (max-width:1080px) {}

/* 手机响应式变化 */
@media screen and (max-width:720px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    h5 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
        line-height: 1.4;
    }

    /* Header */
    .menu-toggle {
        display: block;
        color: white;

    }

    .phoneview {
        display: flex;
        background: linear-gradient(to right,
                #000000 29%,
                #C30007 100%);
    }

    .navbar {
        display: none;
    }

    .menu1 {
        display: none;
        flex-direction: column;
        background: linear-gradient(to right,
                #000000 29%,
                #C30007 100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .menu1.active {
        display: flex;
    }

    .menu1 .menu-item>a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px 0;
        display: block;
        color: white;
    }

    .menu1 .submenu {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }

    .menu1 .submenu a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: white;
    }

    .menu1 .submenu.open {
        display: block;
    }

    .quote-mobile {
        margin-top: 20px;
    }

    /* Footer */

    .footercontentbox {
        flex-direction: column;
    }

    .location {
        display: flex;
        gap: 20px;
    }

    .location img {
        margin: auto 0px;
        width: 20px;
        height: 20px;
    }

    .phnumber {
        display: flex;
        gap: 20px;
    }

    .phnumber img {
        margin: auto 0px;
        width: 20px;
        height: 20px;
    }

    .redlinegmail {
        display: flex;
        gap: 20px;
    }

    .redlinegmail img {
        margin: auto 0px;
        width: 20px;
        height: 20px;
    }

    .aboutteam {
        width: 30%;
        margin: 0px auto;
    }

    .socialmediaicon {
        display: flex;
        gap: 20px;
        margin: 20px 0px 0px 0px;
    }

    .socialmediaicon img {
        width: 20px;
        height: 20px;
    }
}