@import url(https://fonts.googleapis.com/css2?family=Audiowide&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);



body {
    max-width: 1280px;
    margin: auto;
    font-family: "Audiowide", sans-serif;
    background-color: #151515;
}

:root {
    --colorwhite: #ffffff;
    --colorblack: #000000;
    --colorred: #BE0108;
    --colorpurple: #8F0256;
    --gradientstrokeforbox: linear-gradient(135deg, #0000ff, #800080, #ff0000);
    --shadowforbox: 5px 0px 15px rgba(255, 0, 55, 0.5), -5px 0px 15px rgba(0, 20, 255, 0.5);
    --colorfinish: #0004ff;
}

/* 标记做完的page */
.finish {
    color: var(--colorfinish);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--colorwhite);
}

h1 {
    font-size: 64px;

}

h2 {
    font-size: 48px;

}

h3 {
    font-size: 36px;

}

h4 {
    font-size: 32px;

}

h5 {
    font-size: 24px;

}

p,
li {
    color: var(--colorwhite);
    font-size: 16px;
    font-family: Inter;
}

/* header */

.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 54px;
    background: linear-gradient(to right,
            #000000 29%,
            #C30007 100%);
}

.logo img {
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 70px;
    font-family: "Audiowide", sans-serif;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    z-index: 1001;
}

/* 标记已做 */
.menu1 {
    display: flex;
    align-items: center;
    gap: 70px;
    font-family: "Audiowide", sans-serif;
}

.menu-toggle1 {
    cursor: pointer;
    display: none;
    z-index: 1001;
}

.menu1>a,
.menu-item1>a {
    text-decoration: none;
    color: var(--colorfinish);
    font-size: 16px;
    letter-spacing: 0.06em;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.menu1>a:hover,
.menu-item1>a:hover {

    color: var(--colorfinish);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}


.menu-item1 {
    position: relative;
}

.have-submenu1 {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    padding: 8px 0;
    border-radius: 0 0 20px 20px;
    z-index: 99;
}

.have-submenu1 a {
    display: block;
    padding: 8px 18px;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--colorfinish);
    text-decoration: none;
    white-space: nowrap;
}

.have-submenu1 a:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

.menu-item1:hover .have-submenu1 {
    display: block;
}

/* 完 */

.menu>a,
.menu-item>a {
    text-decoration: none;
    color: var(--colorwhite);
    font-size: 16px;
    letter-spacing: 0.06em;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.menu>a:hover,
.menu-item>a:hover {

    color: var(--colorwhite);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}


.menu-item {
    position: relative;
}

.have-submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    padding: 8px 0;
    border-radius: 0 0 20px 20px;
    z-index: 99;
}

.have-submenu a {
    display: block;
    padding: 8px 18px;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--colorwhite);
    text-decoration: none;
    white-space: nowrap;
}

.have-submenu a:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

.menu-item:hover .have-submenu {
    display: block;
}

.about {
    position: absolute;
    left: -15px;
    min-width: 160px;
    background: linear-gradient(to right,
            #3d0002 0%,
            #580205 100%);

}


.product {
    position: absolute;
    left: -15px;
    min-width: 200px;
    background: linear-gradient(to right,
            #6b0004 0%,
            #900005 100%);
}


.help {
    position: absolute;
    left: -10px;
    min-width: 230px;
    background: linear-gradient(to right,
            #8b0005 0%,
            #b80006 100%);
}

/* herosection */
.herosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.herotittle {
    margin: 250px 0 0 0;
}

.herotittle h1 {
    margin: 0 54px;
}

.herotittle h5 {
    margin: 0 54px;
}

/* box */
.gradient-card {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    padding: 5px;
    background: var(--gradientstrokeforbox);
    box-shadow: var(--shadowforbox);

}

.gradient-card-inner {
    width: 100%;
    height: 100%;
    background: #4a403d;
    border-radius: 38px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.gradient-card-inner h3 {
    color: var(--colorwhite);
    margin: 0;
    text-align: center;
}

/* button */
.button {
    display: block;
    width: 263px;
    margin: 40px auto 0;
    padding: 5px;
    border-radius: 46px;
    background: linear-gradient(120deg,
            #0024ff,
            #ff0000,
            #ff4b00,
            #0024ff);
}

.button a {
    display: block;
    padding: 30px 20px;
    border-radius: 46px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: var(--colorwhite);
    box-sizing: border-box;
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    text-decoration: none;
}

.pcborder {
    margin: 87px;
}

.pcborder img {
    display: block;
    flex: 0 0 auto;
    width: 100%;

    background: linear-gradient(90deg, #000399, #FF0000);
    box-shadow: 5px 0px 15px rgba(255, 0, 55, 0.5), -5px 0px 15px rgba(0, 20, 255, 0.5);
    border-radius: 46px;
    padding: 5px;
    text-decoration: none;
}

.sectionbutton4 {
    margin: 20px;
}


/* footer */
footer {
    background-color: var(--colorred);
    padding: 20px 0px;
    margin-top: 10%;
    box-shadow: 0px -10px 40px var(--colorred);
}

.footercontentbox {
    display: flex;
}

.footerinfor {
    width: 40%;
    margin: auto;
}

.location {
    display: flex;
    gap: 20px;
}

.location img {
    margin: auto 0px;
}

.phnumber {
    display: flex;
    gap: 20px;
}

.phnumber img {
    margin: auto 0px;
}

.redlinegmail {
    display: flex;
    gap: 20px;
}

.redlinegmail img {
    margin: auto 0px;
}

.aboutteam {
    width: 30%;
    margin: 0px auto;
}

.socialmediaicon {
    display: flex;
    gap: 60px;
    margin: 60px 0px 0px 0px;
}

.footerinfor h5 {
    color: var(--colorblack);
}

.atcontent h5 {
    color: var(--colorblack);
}

.atcontent p {
    color: var(--colorblack);
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
}

/* 平板响应式变化 */
@media screen and (max-width:1080px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    p,
    li {
        font-size: 13px;
    }


    /* 菜单 */
    .menu-toggle {
        display: block;
        color: var(--colorwhite);
    }

    .navbar {
        display: flex;
        background: linear-gradient(to right,
                #000000 29%,
                #C30007 100%);
        padding: 10px 30px;
    }

    .menu {
        display: none;
        flex-direction: column;
        background: linear-gradient(to right,
                #000000 29%,
                #C30007 100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .menu.active {
        display: flex;
    }

    .menu>a,
    .menu-item>a {
        font-size: 20px;
    }

    .menu .menu-item>a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px 0;
        display: block;
        color: var(--colorwhite);
    }

    .menu .about {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
        background: unset;
    }

    .menu .about a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: var(--colorwhite);
    }

    .menu .about.open {
        display: block;
    }

    .menu .product {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
        background: unset;
    }

    .menu .product a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: var(--colorwhite);
    }

    .menu .product.open {
        display: block;
    }

    .menu .help {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
        background: unset;
    }

    .menu .help a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: var(--colorwhite);
    }

    .menu .help.open {
        display: block;
    }

    .quote-mobile {
        margin-top: 20px;
    }

    /* herosection */
    .herotittle {
        margin: 180px 0 0 0;
    }

    /* button */
    .button a {
        padding: 20px 10px;
        font-size: 13px;
    }

    /* section4box */
    .tittlebox h1 {
        font-size: 48px;
    }

    .tittlebox {
        margin: 55px 0 0 55px;
    }

    .pcborder {
        margin: 55px;
    }

    /* footer */
    .location img {
        width: 30px;
        height: 30px;
    }

    .phnumber img {
        width: 30px;
        height: 30px;
    }

    .redlinegmail img {
        width: 30px;
        height: 30px;
    }

    .socialmediaicon img {
        width: 30px;
        height: 30px;
    }

}



/* 手机响应式变化 */
@media screen and (max-width:720px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    h5 {
        font-size: 12px;
    }


    p {
        font-size: 10px;
    }

    li {
        font-size: 10px;
    }

    /* Header */
    .logo img {
        height: 60px;
    }

    .menu-toggle {
        display: block;
        color: var(--colorwhite);
    }

    .navbar {
        display: flex;
        background: linear-gradient(to right,
                #000000 29%,
                #C30007 100%);
    }

    .menu {
        display: none;
        flex-direction: column;
        background: linear-gradient(to right,
                #000000 29%,
                #C30007 100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .menu.active {
        display: flex;
    }

    .menu .menu-item>a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px 0;
        display: block;
        color: var(--colorwhite);
    }

    .menu .submenu1 {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }

    .menu .submenu1 a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: var(--colorwhite);
    }

    .menu .submenu1.open {
        display: block;
    }

    .menu .submenu2 {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }

    .menu .submenu2 a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: var(--colorwhite);
    }

    .menu .submenu2.open {
        display: block;
    }

    .menu .submenu3 {
        display: none;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }

    .menu .submenu3 a {
        display: block;
        text-align: center;
        padding: 5px 0;
        font-size: 16px;
        opacity: 0.85;
        color: var(--colorwhite);
    }

    .menu .submenu3.open {
        display: block;
    }

    .quote-mobile {
        margin-top: 20px;
    }

    /* herosection */
    .herotittle {
        margin: 80px 0 0 0;
    }

    .herotittle h1 {
        margin: 0 30px;
    }

    .herotittle h5 {
        margin: 0 30px;
    }

    /* button */
    .button a {
        padding: 20px 10px;
        font-size: 10px;
    }

    .button {
        width: 200px;
    }


    /* Footer */

    .footercontentbox {
        flex-direction: column;
    }

    .location {
        display: flex;
        gap: 20px;
    }

    .location img {
        margin: auto 0px;
        width: 20px;
        height: 20px;
    }

    .phnumber {
        display: flex;
        gap: 20px;
    }

    .phnumber img {
        margin: auto 0px;
        width: 20px;
        height: 20px;
    }

    .redlinegmail {
        display: flex;
        gap: 20px;
    }

    .redlinegmail img {
        margin: auto 0px;
        width: 20px;
        height: 20px;
    }

    .aboutteam {
        width: 30%;
        margin: 0px auto;
    }

    .socialmediaicon {
        display: flex;
        gap: 20px;
        margin: 20px 0px 0px 0px;
    }

    .socialmediaicon img {
        width: 20px;
        height: 20px;
    }

    .herotittle h1 {
        margin: 0 30px;
    }

    .herotittle h5 {
        margin: 0 30px;
    }
}


@media screen and (max-width:425px) {

    .button {
        width: 170px;
    }
}