.herotittle {
    position: relative;
    color: white;
    bottom: 300px;
    margin: 0px 0px 0px 54px;
}

.first-section {
    display: flex;
    align-items: center;
}

.first-section-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.first-section-test {
    width: 55%;
    color: white;
}

.first-section-test h5 {
    margin: 0;
}

.first-section-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.first-section-test p {
    width: 90%;
    margin-bottom: 0;
}

.second-section {
    margin-top: 10%;
}

.second-section h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.second-section-image {
    display: flex;
}

.box {
    width: 33.33%;
    padding: 5px;
    margin: 50px;
    border-radius: 40px;
    background: linear-gradient(85deg, #001aff, #B40101);
    box-shadow: 5px 0px 15px rgba(255, 0, 55, 0.5), -5px 0px 15px rgba(0, 20, 255, 0.5);
}

.first-image {
    background-image: url(../images/contact\ location.jpg);
    padding: 85px;
    border-radius: 40px;
    color: white;
    text-align: center;
}

.second-image {
    background-image: url(../images/contact\ phone\ number.jpg);
    padding: 85px;
    border-radius: 40px;
    color: white;
    text-align: center;
}

.third-image {
    background-image: url(../images/contact\ email.jpg);
    padding: 85px;
    border-radius: 40px;
    color: white;
    text-align: center;
}

.contact-image img {
    border-radius: 40px;
}

.third-section {
    margin-top: 10%;
}

.form-box {
    background: linear-gradient(90deg, #000399, #FF0000);
    box-shadow: 5px 0px 15px rgba(255, 0, 55, 0.5), -5px 0px 15px rgba(0, 20, 255, 0.5);
    border-radius: 46px;
    margin: 50px;
    padding: 5px;
}

.comment-form {
    background-color: black;
    color: white;
    padding: 60px 20px;
    border-radius: 46px;
}

.comment-form h1 {
    margin-top: 0;
    padding-left: 70px;
}

.comment-text {
    display: flex;
    justify-content: center;
}

input {
    background-color: #4C4C4C;
    padding: 20px 100px;
    margin: 10px 20px 30px 20px;
    border-radius: 40px;
    border: 0;
    font-size: 24px;
    font-family: "Audiowide", sans-serif;
}

.msg input {
    padding-bottom: 200px;
    padding-right: 700px;
}

.button {
    display: block;
    margin-top: 20px;
    margin-left: 60px;
    width: 20%;
    padding: 5px;
    border-radius: 46px;
    background: linear-gradient(120deg,
            #0024ff,
            #ff0000,
            #ff4b00,
            #0024ff);
}

.button a {
    display: block;
    width: 100%;
    padding: 30px 20px;
    border-radius: 46px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #fdfdfd;
    box-sizing: border-box;
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    text-decoration: none;
}

.fouth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/support\ image.png);
    margin-top: 10%;
    width: 100%;
    height: 703px;
    color: white;
}

.fouth-section h1 {
    margin: 0;
}

.fouth-section p {
    width: 40%;
    text-align: center;
}

.second-button {
    display: block;
    margin-top: 40px;
    width: 20%;
    padding: 5px;
    border-radius: 46px;
    background: linear-gradient(120deg,
            #0024ff,
            #ff0000,
            #ff4b00,
            #0024ff);
}

.second-button a {
    display: block;
    width: 100%;
    padding: 30px 20px;
    border-radius: 46px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #fdfdfd;
    box-sizing: border-box;
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    text-decoration: none;
}