.first-section {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.first-section-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.first-section-test {
    width: 50%;
}

.first-section-test h5 {
    margin: 0;
}

.first-section-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.first-section-test p {
    width: 90%;
    margin-bottom: 0;
    line-height: 2.5;
}

.threebox-container {
    display: flex;
}

.threebox h1 {
    text-align: center;
    margin-top: 10%;
}

.second-section {
    display: flex;
    width: 33.33%;
    justify-content: center;
    flex-direction: row;
    gap: 110px;
    margin-top: 5%;
    perspective: 1000px;
}

.gradient-card-inner {
    background: none;
    background-image: url(../images/contact\ location.jpg);
    width: 97%;
    height: 97%;
}

.second {
    background-image: url(../images/contact\ phone\ number.jpg);
}

.third {
    background-image: url(../images/contact\ email.jpg);
}

.boxsection1 {
    width: 80%;
    height: 339px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.second-section:hover .boxsection1 {
    transform: rotateY(180deg);
}

.gradient-card-inner,
.back {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 97%;
    height: 97%;
    border-radius: 20px;
    transform: rotateY(180deg);
}

.third-section {
    margin-top: 15%;
}

.form-box {
    background: linear-gradient(90deg, #000399, #FF0000);
    box-shadow: 5px 0px 15px rgba(255, 0, 55, 0.5), -5px 0px 15px rgba(0, 20, 255, 0.5);
    border-radius: 46px;
    margin: 50px;
    padding: 5px;
}

.comment-form {
    background-color: black;
    color: white;
    padding: 70px 20px;
    border-radius: 46px;
}

.comment-form h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 100px;
}

.name {
    display: flex;
    margin: 0 70px;
}

.name input {
    width: 95%;
    height: 40px;
    padding: 10px;
    margin: 2%;
    background-color: #4C4C4C;
    border-radius: 40px;
    border: 0;
    font-size: 24px;
    font-family: "Audiowide", sans-serif;
}

.third-text label {
    color: #ffffff;
    font-size: 24px;
}

.third-text {
    display: flex;
    margin: 0 70px;
}

.third-text textarea {
    width: 100%;
    height: 200px;
    background-color: #4C4C4C;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    border: 0;
    font-size: 24px;
    font-family: "Audiowide", sans-serif;
}

.button {
    display: block;
    margin-top: 20px;
    margin-left: 100px;
    width: 20%;
    padding: 5px;
    cursor: pointer;
    border-radius: 46px;
    background: linear-gradient(120deg,
            #0024ff,
            #ff0000,
            #ff4b00,
            #0024ff);
}

.button a {
    display: block;
    width: 100%;
    padding: 30px 20px;
    border-radius: 46px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #fdfdfd;
    box-sizing: border-box;
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    text-decoration: none;
}

.modal p {
    color: black;
    text-align: center;
}

.fouth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/support\ image.png);
    background-size: cover;
    background-position: center;
    margin-top: 15%;
    min-height: 703px;
    color: white;
}

.fouth-section h1 {
    margin: 0;
}

.fouth-section p {
    width: 40%;
    text-align: center;
    line-height: 2.5;
}

.second-button {
    display: block;
    margin-top: 40px;
    width: 20%;
    padding: 5px;
    border-radius: 46px;
    background: linear-gradient(120deg,
            #0024ff,
            #ff0000,
            #ff4b00,
            #0024ff);
}

.second-button a {
    display: block;
    width: 100%;
    padding: 30px 20px;
    border-radius: 46px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #fdfdfd;
    box-sizing: border-box;
    background: linear-gradient(to top, #CD0000 0%, #000000 100%);
    text-decoration: none;
}

@media screen and (max-width:1080px) {
    .first-section {
        flex-direction: column;
    }

    .first-section-image {
        order: 2;
        margin-top: 5%;
    }

    .first-section-test {
        order: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .boxsection1 {
        height: 300px;
    }

    .name input {
        font-size: 18px;
    }

    .form-box {
        margin: 35px;
    }

    .button a {
        font-size: 13px;
    }

    .second-button a {
        font-size: 13px;
    }

    .back h5 {
        font-size: 18px;
    }

    .fouth-section p {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .boxsection1 {
        height: 230px;
    }

    .gradient-card-inner {
        width: 95%;
        height: 96%;
    }

    .back {
        width: 95%;
        height: 96%;
    }

    .back h5 {
        font-size: 15px;
    }

    .name input {
        font-size: 15px;
        padding: 5px;
    }

    .third-text textarea {
        height: 150px;
        margin: 10px;
        font-size: 15px;
    }

    .comment-form {
        padding: 70px 10px;
    }

    .button {
        margin-left: 80px;
    }

    .button a {
        font-size: 9px;
    }

    .second-button {
        margin-top: 20px;
    }


    .second-button a {
        font-size: 9px;
    }

}

@media screen and (max-width:560px) {
    .back h5 {
        font-size: 8px;
    }

}

@media screen and (max-width:425px) {
    .boxsection1 {
        height: 130px;
    }

    .gradient-card-inner {
        width: 92%;
        height: 93%;
    }

    .back {
        width: 92%;
        height: 93%;
    }

    .comment-form h1 {
        font-size: 20px;
        padding-left: 10px;
    }

    .name {
        margin: 0;
    }

    .third-text {
        margin: 0;
    }

    .name input {
        font-size: 10px;
        padding: 3px 10px;
    }

    .third-text textarea {
        height: 100px;
        margin: 10px;
        font-size: 10px;
    }

    .comment-form {
        padding: 40px 10px;
    }

    .button {
        margin-left: 10px;
        width: 40%;
    }

    .button a {
        font-size: 9px;
        padding: 15px 0;
    }

    .second-button {
        margin-top: 20px;
        width: 30%;
    }


    .second-button a {
        font-size: 9px;
        padding: 15px 0;
    }

    .fouth-section {
        min-height: 300px;
    }

    .fouth-section p {
        width: 80%;
    }

}