.herotittle {
    position: relative;
    color: white;
    bottom: 300px;
    margin: 0px 0px 0px 54px;
}

.first-section {
    display: flex;
    align-items: center;
}

.first-section-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.first-section-test {
    width: 55%;
    color: white;
}

.first-section-test h5 {
    margin: 0;
}

.first-section-test h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.first-section-test p {
    width: 90%;
    margin-bottom: 0;
}

.second-section {
    margin-top: 150px;
}

.second-section h1 {
    color: white;
    text-align: center;
}

.second-section-image {
    display: flex;
    justify-content: center;
}

.contact-image {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.contact-image img {
    padding: 5px;
    border-radius: 40px;
    background: linear-gradient(85deg, #001aff, #B40101);
    box-shadow: 5px 0px 15px rgba(255, 0, 55, 0.5), -5px 0px 15px rgba(0, 20, 255, 0.5);
}