/* hero section */
.herosection {
    background-image: url('../images/herogaming.jpg');
}

/* mice section */
.mice-section {
    margin: 100px 54px;
}

.mice-title {
    text-align: center;
    margin: 0 0 100px 0;
}

.mice {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.mice-cardborder {
    flex: 0 0 calc(33.333% - 70px);
}

.mice-card {
    min-height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
}

.miceimg-box {
    min-height: 250px;
    display: flex;
    align-items: center;
}

.miceimg-box img {
    width: 100%;
}

.miceprice {
    margin: 0;
}

.miceinfo-title {
    margin: 0;
    min-height: 220px;
    display: flex;
    align-items: center;
    text-align: center;
}

.micetitle {
    margin: 0;
}

.miceinfo-price {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button */
.button {
    margin: 0;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* mice banner section */

.micebanner {
    background-image: url('../images/bannermice.jpg');
}

.micebanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.micebanner-title {
    width: 75%;
}

.micebanner-title h2 {
    margin: 0 54px;
}

.micebanner-title h5 {
    margin: 0 54px;
}

/* keyboard section */
.keyboard-section {
    margin: 100px 54px;
}

.keyboard-title {
    text-align: center;
    margin: 0 0 60px 0;
}

.keyboard {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.keyboard-cardborder {
    flex: 1;
    min-width: 400px;
    border-radius: 46px;
    padding: 5px;
}

.keyboard-card {
    width: 100%;
    min-height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-card img {
    width: 100%;
}

.keyboardimg-box {
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboardinfo-title {
    margin: 0;
    min-height: 100px;
}

.keyboard-price h5 {
    margin: 0;
    margin-bottom: 15px;
}

/* keyboard banner section */

.keyboardbanner {
    background-image: url('../images/bannerkeyboard.jpg');
}

.keyboardbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.keyboardbanner-title {
    margin: 0 0 0 300px;
}

.keyboardbanner-title h2 {
    margin: 0 54px;
}

.keyboardbanner-title h5 {
    margin: 0 54px;
}

/* controller section */
.controller-section {
    margin: 100px 54px;
}

.controller-title {
    text-align: center;
    margin: 100px 0 60px 0;
}

.card-short .controllerimg-box img {
    margin-top: 10px;
    width: 100%;
    max-width: 230px;
}

.card-short .controller-bottom {
    padding-bottom: 30px;
}

.ctl {
    margin: unset;
}


/* card long */
.controller-cardborder {
    min-height: 480px;
}

.controller-card.card-long {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 480px;
}

/* 左边：大图 */
.card-long .controllerimg-box {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-long .controllerimg-box img {
    width: 100%;
    max-width: 420px;
}

/* 右边：文字区 */
.card-long .controllerinfo-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.controller-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-long .controller-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.controllerprice {
    margin: 0;
    height: auto;
    line-height: 1;
}

.controller-row1,
.controller-row2,
.controller-row3 {
    margin-left: 54px;
    margin-right: 54px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.controller-row1 .controller-cardborder:first-child,
.controller-row2 .controller-cardborder:last-child,
.controller-row3 .controller-cardborder:first-child {
    flex: 0 0 60%;
}

.controller-row1 .controller-cardborder:last-child,
.controller-row2 .controller-cardborder:first-child,
.controller-row3 .controller-cardborder:last-child {
    flex: 0 0 40%;
}



/* controller banner section */

.controllerbanner {
    background-image: url('../images/bannercontroller.jpg');
}

.controllerbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.controllerbanner-title {
    width: 75%;
}

.controllerbanner-title h2 {
    margin: 0 54px;
}

.controllerbanner-title h5 {
    margin: 0 54px;
}

/* Headset section */
.headset-section {
    margin: 100px 54px;
}

.headset-title {
    text-align: center;
    margin: 100px 0 60px 0;
}

.headset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.headset-cardborder {
    flex: 0 0 calc(50% - 60px);
}

.headset-card {
    width: 100%;
    height: 340px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headsetimg-box {
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headsetimg-box img {
    max-width: 100%;
    max-height: 100%;
}

.headsetinfo-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headset-bottom {
    display: flex;
    align-items: center;
    gap: 25px;
}

.headsetprice {
    line-height: 60px;
}

/* headset banner section */

.headsetbanner {
    background-image: url('../images/bannerheadset.jpg');
}

.headsetbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.headsetbanner-title {
    width: 75%;
}

.headsetbanner-title h2 {
    margin: 0 54px;
}

.headsetbanner-title h5 {
    margin: 0 54px;
}

/* buyguide section */
.buyguide-section {
    margin: 100px 54px;
}

.buyguide-title {
    text-align: center;
    margin: 100px 0 60px 0;
}

.buyguide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.buyguide-cardborder {
    flex: 0 0 calc(33.333% - 80px);
}

.buyguide-card {
    width: 100%;
    max-width: 350px;
    height: 480px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 15px;
}

.buyguidecard-title {
    text-align: left;
    margin-left: 20px;
}

.buyguidecard-content li {
    margin-bottom: 20px;
    /* 每一行的间距 */
}

.whitecard {
    background-color: white;
}

.whitecard h5,
.whitecard ul li {
    color: black;
}

.blackcard {
    background-color: black;
}


@media screen and (max-width:1197px) {

    .headsetimg-box {
        flex: 0 0 140px;
    }

    .headset-bottom {
        gap: 15px;
    }
}

@media screen and (max-width:1108px) {
    .mice-cardborder {
        flex: 0 0 calc(50% - 60px);
    }
}

@media screen and (max-width:1080px) {

    .mice-cardborder {
        flex: 0 0 calc(50% - 60px);
    }

    .miceimg-box {
        max-height: 140px;
    }

    .miceimg-box img {
        width: 100%;
    }

    .miceinfo-title {
        min-height: 100px;
    }

    .keyboard-card {
        width: 100%;
        min-height: 520px;
    }

    .keyboard-card img {
        margin-top: 10px;
        max-width: 300px;
    }

    .keyboard-price h5 {
        margin-bottom: 20px;
    }

    .keyboardbanner-title {
        margin: 0 0 0 200px;
    }

    .headset-cardborder {
        flex: 0 0 100%;
        max-width: 600px;
    }

    .headset-card {
        width: 100%;
        max-width: 700px;
        flex-direction: column;
        height: 450px;
    }

    .headsetinfo-box {
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    .headset-bottom {
        flex-direction: column;
    }

    .headsettitle,
    .headsetprice h5,
    .button {
        margin: 0;
    }

    .buyguide-card {
        min-width: 350px;
        min-height: 360px;
    }

    .buyguidecard-title {
        margin-left: 25px;
    }

    .controller {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .controller-row1,
    .controller-row2,
    .controller-row3 {
        display: flex;
        flex-direction: column;
    }

    .controller-card.card-long {
        flex-direction: column;
        justify-content: center;
    }

    .card-long .controllerimg-box,
    .card-short .controllerimg-box {
        min-height: 200px;
        justify-content: center;
    }

    .card-long .controllerimg-box img {
        width: 65%;
    }

    .card-short .controllerimg-box img {
        width: 100%;
    }

    .controllerinfo-box .card-long,
    .controllerinfo-box .card-short {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .controller-bottom .card-long,
    .controller-bottom .card-short {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .controller-row1 .controller-cardborder:first-child,
    .controller-row2 .controller-cardborder:last-child,
    .controller-row3 .controller-cardborder:first-child,
    .controller-row1 .controller-cardborder:last-child,
    .controller-row2 .controller-cardborder:first-child,
    .controller-row3 .controller-cardborder:last-child {
        flex: 1 1 100%;
    }
}

@media screen and (max-width:720px) {

    .mice-section,
    .keyboard-section,
    .controller-section,
    .headset-section,
    .buyguide-section {
        margin: 60px 30px;
    }

    .mice-title,
    .keyboard-title,
    .controller-title,
    .headset-title,
    .buyguide-title {
        margin: 0 0 60px 0;
    }

    .mice,
    .keyboard,
    .controller,
    .headset {
        gap: 30px;
    }

    .keyboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .miceimg-box {
        max-height: 120px;
    }

    .miceinfo-title {
        min-height: 60px;
    }

    .mice-cardborder {
        flex: 0 0 100%;
    }

    .keyboard-card {
        min-height: 350px;
    }

    .keyboardinfo-title {
        min-height: 80px;
    }

    .keyboard-price h5 {
        margin-bottom: 15px;
    }

    .buyguide-card {
        min-height: 300px;
    }

    .buyguidecard-title {
        margin-left: 25px;
    }

    .controller {
        gap: 30px;
    }

    .controller-cardborder {
        flex: 0 0 100%;
        max-width: 100%;
        height: 400px;
    }

    .controller-card {
        width: 450px;
        margin: 0 auto;
        height: 400px;
    }

    .controllertitle {
        text-align: center;
    }

    .controllerinfo-box {
        align-items: center;
        text-align: center;
    }

    .controller-bottom {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .controllerprice {
        height: auto;
        margin: 0;
        text-align: center;
    }

    .headset-cardborder,
    .headset-card {
        max-width: 380px;
        height: 420px;
    }

    .controller-row1 .controller-cardborder:first-child,
    .controller-row2 .controller-cardborder:last-child,
    .controller-row3 .controller-cardborder:first-child,
    .controller-row1 .controller-cardborder:last-child,
    .controller-row2 .controller-cardborder:first-child,
    .controller-row3 .controller-cardborder:last-child {
        flex: 0 0 100%;
    }

}

@media screen and (max-width:600px) {

    .mice-card {
        height: 400px;
    }

    .miceimg-box {
        max-width: 100%;
        height: 120px;
    }

    .micetitle-box {
        height: auto;
    }

    .miceinfo-box {
        justify-content: flex-start;
        height: 140px;
    }

    .keyboardimg-box {
        height: 180px;
    }

    .controller-card,
    .controller-cardborder {
        max-width: 330px;
    }

    .mice-section,
    .keyboard-section,
    .controller-section,
    .headset-section,
    .buyguide-section {
        margin: 50px 30px;
    }

    .buyguide-title {
        text-align: center;
        margin: 50px 0 50px 0;
    }

    .micebanner-title h5,
    .controllerbanner-title h5,
    .headsetbanner-title h5 {
        margin: 0 30px;
        width: 100%;
    }

    .micebanner-title h2,
    .controllerbanner-title h2,
    .headsetbanner-title h2 {
        margin: 0 30px;
        width: 100%;
    }

    .keyboardbanner-title {
        margin: 0 0 0 0;
    }

    .keyboardbanner-title h2,
    .keyboardbanner-title h5 {
        margin: 0 30px;
    }
}