/* hero section */
.herosection {
    background-image: url('../images/herogaming.jpg');
}

/* mice section */
.mice-section {
    margin: 100px 54px;
}

.mice-title {
    text-align: center;
    margin: 0 0 100px 0;
}

.mice {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.mice-cardborder {
    flex: 0 0 calc(33.333% - 70px);
}

.mice-card {
    width: 100%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.mice-card img {
    margin-top: 30px;
}

.miceimg-box {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.miceimg-box img {
    max-height: 100%;
}


.micetitle-box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.miceinfo-box {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.micetitle {
    min-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}



.miceprice-box,
.miceinfo-box .miceprice {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button */
.button {
    margin-bottom: auto;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* mice banner section */

.micebanner {
    background-image: url('../images/bannermice.jpg');
}

.micebanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.micebanner-title {
    width: 75%;
}

.micebanner-title h2 {
    margin: 0 54px;
}

.micebanner-title h5 {
    margin: 0 54px;
}

/* keyboard section */
.keyboard-section {
    margin: 100px 54px;
}

.keyboard-title {
    text-align: center;
    margin: 0 0 60px 0;
}

.keyboard {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.keyboard-cardborder {
    flex: 1 1 calc(50% - 60px);
    position: relative;
    border-radius: 46px;
    padding: 5px;
}

.keyboard-card {
    width: 100%;
    height: 570px;
    border-radius: 43px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.keyboard-card img {
    margin-top: 30px;
    max-width: 400px;
}


.keyboardimg-box {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboardimg-box img {
    max-height: 100%;
    text-align: center;
}

.keyboardinfo-box {
    height: 160px;
}

/* keyboard banner section */

.keyboardbanner {
    background-image: url('../images/bannerkeyboard.jpg');
}

.keyboardbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.keyboardbanner-title {
    margin: 0 0 0 300px;
    width: 75%;
}

.keyboardbanner-title h2 {
    margin: 0 54px;
}

.keyboardbanner-title h5 {
    margin: 0 54px;
}

/* controller section */
.controller-section {
    margin: 100px 54px;
}

.controller-title {
    text-align: center;
    margin: 100px 0 60px 0;
}

.controller-row1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.controller-card {
    display: flex;
    align-items: center;
    padding: 40px 50px;
    gap: 50px;
    height: 360px;
}

.controllerimg-box {
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controllerimg-box img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.controllerinfo-box {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* controller banner section */

.controllerbanner {
    background-image: url('../images/bannercontroller.jpg');
}

.controllerbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.controllerbanner-title {
    width: 75%;
}

.controllerbanner-title h2 {
    margin: 0 54px;
}

.controllerbanner-title h5 {
    margin: 0 54px;
}

/* Headset section */
.headset-section {
    margin: 100px 54px;
}

.headset-title {
    text-align: center;
    margin: 100px 0 60px 0;
}

.headset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.headset-cardborder {
    flex: 0 0 calc(50% - 60px);
}

.headset-card {
    width: 100%;
    height: 340px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headsetimg-box {
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headsetimg-box img {
    max-width: 100%;
    max-height: 100%;
}

.headsetinfo-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headset-bottom {
    display: flex;
    align-items: center;
    gap: 25px;
}

.headsetprice {
    line-height: 60px;
}

/* headset banner section */

.headsetbanner {
    background-image: url('../images/bannerheadset.jpg');
}

.headsetbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.4;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.headsetbanner-title {
    width: 75%;
}

.headsetbanner-title h2 {
    margin: 0 54px;
}

.headsetbanner-title h5 {
    margin: 0 54px;
}

/* buyguide section */
.buyguide-section {
    margin: 100px 54px;
}

.buyguide-title {
    text-align: center;
    margin: 100px 0 60px 0;
}

.buyguide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.buyguide-cardborder {
    flex: 0 0 calc(33.333% - 80px);
}

.buyguide-card {
    width: 100%;
    max-width: 350px;
    height: 450px;
    justify-content: center;
    padding: 10px 15px;
}

.buyguidecard-content li {
    margin-bottom: 20px;
    /* 每一行的间距 */
}

.whitecard {
    background-color: white;
}

.whitecard h5,
.whitecard ul li {
    color: black;
}

.blackcard {
    background-color: black;
}


@media screen and (max-width:1197px) {

    .headsetimg-box {
        flex: 0 0 140px;
    }

    .headset-bottom {
        gap: 15px;
    }
}

@media screen and (max-width:1108px) {
    .mice-cardborder {
        flex: 0 0 calc(50% - 60px);
    }
}

@media screen and (max-width:1080px) {

    .mice-cardborder {
        flex: 0 0 calc(50% - 60px);
    }

    .keyboard-card img {
        max-width: 300px;
    }

    .keyboardbanner-title {
        margin: 0 0 0 200px;
        width: 75%;
    }

    .headset-cardborder {
        flex: 0 0 100%;
        max-width: 600px;
    }

    .headset-card {
        width: 100%;
        max-width: 700px;
        flex-direction: column;
        height: 450px;
    }

    .headsetinfo-box {
        justify-content: flex-start;
        gap: 12px;
    }

    .headset-bottom {
        flex-direction: column;
    }

    .headsettitle,
    .headsetprice h5,
    .button {
        margin: 0;
    }

    .buyguide-card {
        min-width: 350px;
        height: 360px;
    }
}

@media screen and (max-width:720px) {

    .mice-cardborder {
        flex: 0 0 100%;
    }

    .buyguide-card {
        height: 300px;
    }
}