/* mice section */
.mice-section {
    margin: 100px 54px;
}

.mice-title {
    text-align: center;
    margin: 0 0 100px 0;
}


.mice {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.mice-cardborder {
    flex: 0 0 calc(33.333% - 60px);
    position: relative;
    border-radius: 46px;
    padding: 5px;
}

.mice-card {
    width: 100%;
    height: 550px;
    border-radius: 43px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.mice-card img {
    margin-top: 30px;
}


.miceimg-box {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.miceimg-box img {
    max-height: 100%;
}


.micetitle-box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.miceinfo-box {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.micetitle {
    min-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}



.miceprice-box,
.miceinfo-box .miceprice {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    width: 120px;
    padding: 3px;
    margin-top: auto;
    margin-bottom: 20px;
}

.button a {
    padding: 15px 20px;
}

/* mice banner section */
.micesection.banner {
    position: relative;
    width: 100%;
    height: 401px;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.micebanner-title {
    position: absolute;
    left: 54px;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    color: white;
}

.micebanner-title h1 {
    margin: 0 0 20px 0;
}

.micebanner-title h5 {
    margin: 0;
}

/* keyboard section */
.keyboard-section {
    margin: 100px 54px;
}

.keyboard-title {
    text-align: center;
    margin: 0 0 60px 0;
}

.keyboard {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.keyboard-cardborder {
    flex: 1 1 calc(50% - 60px);
    position: relative;
    border-radius: 46px;
    padding: 5px;
}

.keyboard-card {
    width: 100%;
    height: 550px;
    border-radius: 43px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.keyboard-card img {
    margin-top: 30px;
}


.keyboardimg-box {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboardimg-box img {
    max-height: 100%;
}