/* hero section */
.herotittle1 {
    position: relative;
    bottom: 400px;
    margin: 0px 0px 0px 54px;
}

a.view-all-gear {
    text-decoration: none;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    margin: 8px;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

/* section1 */
.section1 {
    position: relative;
    top: -100px;
    margin: 0px 54px;
    /* 整个section1的margin */
}

.tittle1 {
    text-align: center;
}

.tittle1 h5 {
    margin: 0;
    opacity: 70%;
}

.tittle1 h1 {
    margin: 0;
}

/* box的调整 */
.boxsection1 {
    width: 507px;
    height: 703px;
}

/* 四个box */
.fourbox {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 55px;
}

/* section2 */
.section2 {
    background-color: #ffffff;
    margin: 0px 54px;
    /* 整个section2的margin */
    border-radius: 46px;
    overflow: hidden;
    padding-bottom: 40px;

}

.tittle2 {
    position: relative;
    top: 20px;
    text-align: center;
}

.tittle2 h5 {
    color: #000000;
    margin: 0;
    opacity: 70%;
}

.tittle2 h1 {
    color: #000000;
    margin: 0;
}

.scrollsection {
    margin: 55px 0;
    padding: 0 20px;
}

.scrollcontainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    padding: 20px 10px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    cursor: grab;
    scrollbar-width: none;
}

.scrollcontainer::-webkit-scrollbar {
    display: none;
}

.scrollcontainer.active {
    cursor: grabbing;
}

/* scrollbox */
.boxsection2 {
    width: 291.04px;
    height: 337.07px;
    flex-shrink: 0;
    display: block;
    width: 291.04px;
    height: auto;
    flex-shrink: 0;
    text-decoration: none;
}

.gradient-card-inner {
    padding: 15px;
}

.boxsection2 h5 {
    text-align: center;
}


/* section3 */
.section3 {
    position: relative;
    top: 50px;
    margin: 0px 54px;
    /* 整个section3的margin */
}

.tittle3 {
    text-align: center;
}

.tittle3 h5 {
    margin: 0;
    opacity: 70%;
}

.tittle3 h1 {
    margin: 0;
}

.section3pc {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 47px 0;
}

.sponsorlogo {
    position: relative;
    top: 155px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 22px;
}

.sponsorlogo img {
    width: 15%;
}

/* section4 */
.gradient-card {
    border-radius: 40px;
}

.section4box {
    background-color: var(--colorwhite);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.section4 {
    position: relative;
    top: 262px;
    margin: 0px 54px;
    /* 整个section4的margin */
}

.tittle4 {
    text-align: center;
}

.tittle4 h1 {
    margin: 0;
}

.tittlebox p {
    color: rgb(0, 0, 0);
}

.tittlebox {
    width: 55%;
}

/* footer */
footer {
    position: relative;
    top: 192px;
}


/* 平板响应式 */
@media screen and (max-width:1080px) {

    /* section1box */
    .boxsection1 {
        width: 900px;
        height: 703px;
    }

    /* section3 picture */
    .section3pc img {
        width: 1000px;
        max-width: 100%;
    }

    .sponsorlogo {
        grid-gap: 40px;
        top: 100px;
    }

    .herotittle1 {
        position: relative;
        bottom: 400px;

    }

}

@media screen and (max-width:780px) {

    .herotittle1 {
        position: relative;
        bottom: 350px;

    }
}

@media screen and (max-width:600px) {

    /* header */
    .herotittle1 {
        position: relative;
        bottom: 170px;
        margin: 0px 0px 0px 54px;
    }

    a.view-all-gear {
        font-size: 13px;
        margin: 0;
    }

    .sponsorlogo {
        grid-gap: 40px;
        top: 100px;
    }

    .sponsorlogo img {
        width: 40%;
    }

    .tittlebox {
        width: 100%;
    }

    footer {
        top: 252px;
    }

    .boxsection1 {
        width: 607px;
        height: 403px;
    }

    .scrollsection {
        padding: 0;
    }

    .tittle1 {
        position: relative;
        top: 30px;
    }

    .fourbox {
        gap: 50px;
    }

}