/* hero section */
.herosection {
    background-image: url('../images/herophone.jpg');
}

/* Phone Section */
.phone-section {
    margin: 100px 54px;
}

.phone-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card Layout */
.phone {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.phone-card {
    width: 245px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* === ROW 1 : IMAGE === */
.phone-img {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-img img {
    max-height: 100%;
    max-width: 100%;
}

/* === ROW 2 : TITLE === */
.phone-title-text {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-title-text h5 {
    margin-bottom: 50px;
}

/* === ROW 3 : PRICE === */
.phone-price {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-price p {
    margin: 0;
    line-height: 1.4;
}

.button {
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* tablet section */
.tablet-section {
    margin: 100px 54px;
}

.tablet-title {
    text-align: center;
    margin: 0 0 100px 0;
}

.tablet {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.tablet-cardborder {
    position: relative;
    border-radius: 46px;
    padding: 5px;
}

.tablet-card {
    width: 335px;
    height: 580px;
    border-radius: 43px;
    text-align: center;
    position: relative;
}

@media screen and (max-width:1279px) {

    .phone {
        gap: 30px;
    }
}


@media screen and (max-width:720px) {

    .herotitle {
        left: 30px;
    }

    .phone-title {
        margin: 0 0 50px 0;
    }

    .phone-section {
        margin: 50px 30px;
    }

    .phone-card {
        width: 370px;
        height: 500px;
    }

    .tablet-section {
        margin: 50px 30px;
    }

    .tablet-title {
        text-align: center;
        margin: 0 0 50px 0;
    }

    .tablet-card {
        width: 370px;
        height: 470px;
    }
}