h1 {
    color: white;
}

h5 {
    color: white;
}

p {
    color: white;
}

/* hero section */
.herosection {
    position: relative;
    width: 100%;
}

.herosection img {
    width: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.5;
}

.herotitle {
    position: absolute;
    left: 54px;
    bottom: 40px;
    color: #ffffff;
}

.herotitle h1 {
    bottom: 260px;
    margin: 0 0 0 54;
}

.herotitle h5 {
    bottom: 240px;
    margin: 0 0 0 54;
}

/* phone section */
.phone-section {
    margin: 100px 54px;
}

.phone-title {
    text-align: center;
    margin: 0 0 100px 0;
}

.phone {
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
}

.phone-cardborder {
    position: relative;
    border-radius: 46px;
    padding: 5px;
}

.phone-card {
    width: 301px;
    height: 600px;
    border-radius: 43px;
    text-align: center;
    position: relative;
}

.phone-card img {
    margin-top: 10px
}

.button {
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* tablet section */
.tablet-section {
    margin: 100px 54px;
}

.tablet-title {
    text-align: center;
    margin: 0 0 100px 0;
}

.tablet {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.tablet-cardborder {
    position: relative;
    border-radius: 46px;
    padding: 5px;
    ;
}

.tablet-card {
    width: 370px;
    height: 580px;
    border-radius: 43px;
    text-align: center;
    position: relative;
}

.tablet-card img {
    margin-top: 10px;
}