/* hero section */
.herosection {
    background-image: url('../images/herophone.jpg');
}

/* Phone Section */
.phone-section {
    margin: 100px 54px;
}

.phone-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card Layout */
.phone {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.phone-row {
    gap: 50px;
    text-align: center;
    display: flex;
}

.phone-card {
    width: 240px;
}

/* === ROW 1 : IMAGE === */
.phone-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-img img {
    max-height: 100%;
    max-width: 100%;
}

/* === ROW 2 : TITLE === */
.phone-title-text {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-title-text h5 {
    margin-bottom: 50px;
}

/* === ROW 3 : PRICE === */
.phone-price {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-price p {
    margin: 0;
    line-height: 1.4;
}

.button {
    margin-bottom: auto;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* Tablet Section */
.tablet-section {
    margin: 100px 54px;
}

.tablet-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card layout */
.tablet {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Inner card */
.tablet-card {
    width: 100%;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

/* ===== ROW 1 : IMAGE ===== */
.tablet-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet-img img {
    max-height: 100%;
    max-width: 100%;
}

/* ===== ROW 2 : TITLE ===== */
.tablet-title-text {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet-title-text h5 {
    margin: 0;
}

/* ===== ROW 3 : PRICE ===== */
.tablet-price {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet-price p {
    margin: 0;
    line-height: 1.4;
}

@media screen and (max-width:1170px) {
    .phone-card {
        width: 200px;
    }
}

@media screen and (max-width:1080px) {

    .phone,
    .phone-card,
    .tablet,
    .tablet-card {
        width: 100%;
    }
}

@media screen and (max-width:830px) {
    .phone {
        flex-direction: column;
    }

    .phone-card {
        width: 280px;
    }

    .phone-row {
        justify-content: center;
    }

    .tablet {
        flex-direction: column;
        margin: auto;
        max-width: 550px;
    }

    .tablet-card {
        text-align: center;
        width: 100%;
        max-width: 550px;
    }
}

@media screen and (max-width:720px) {

    .phone,
    .phone-row,
    .tablet {
        flex-direction: column;
        max-width: 500px;
    }

    .phone-card {
        width: 100%;
        max-width: 500px;
    }

    .phone,
    .tablet {
        margin: auto;
    }
}