.gradient-card-inner {
    align-items: unset;
    justify-content: unset;
}

/* hero section */
.herosection {
    background-image: url('../images/herophone.jpg');
}

/* Phone Section */
.phone-section {
    margin: 100px 54px;
}

.phone-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card Layout */
.phone {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.phone-row {
    gap: 50px;
    text-align: center;
    display: flex;
}

.phone-card {
    width: 100%;
    max-width: 240px;
    max-height: 550px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
}

/* === ROW 1 : IMAGE === */

.phone-img img {
    max-height: 100%;
    max-width: 100%;
}

/* === ROW 2 : TITLE === */
.phone-title-text {
    min-height: 150px;
    align-items: center;
    justify-content: center;
}

/* === ROW 3 : PRICE === */
.phone-price {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.phone-price p {
    margin: 0;
    line-height: 1.4;
}

/* === button === */
.button {
    margin-top: auto;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* Tablet Section */
.tablet-section {
    margin: 100px 54px;
}

.tablet-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card layout */
.tablet {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Inner card */
.tablet-card {
    width: 100%;
    max-width: 330px;
    min-height: 350px;
    padding: 15px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

/* ===== ROW 1 : IMAGE ===== */
.tablet-img img {
    max-height: 100%;
    max-width: 100%;
}

/* ===== ROW 2 : TITLE ===== */
.tablet-title-text {
    min-height: 150px;
    align-items: center;
    justify-content: center;
}

/* ===== ROW 3 : PRICE ===== */
.tablet-price {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.tablet-price p {
    margin: 0;
    line-height: 1.4;
}

@media screen and (max-width:1170px) {
    .phone-card {
        max-width: 200px;
    }

    .phone-title-text {
        min-height: 150px;
    }

    .phone-price {
        min-height: 60px;
    }
}

@media screen and (max-width:1080px) {

    .phone,
    .phone-card,
    .tablet,
    .tablet-card {
        width: 100%;
    }

    .phone,
    .phone-row {
        gap: 30px;
    }

    .phone-card {
        max-width: 275px;
    }

    .phone-title-text,
    .tablet-title-text {
        min-height: 100px;
    }
}

@media screen and (max-width:830px) {
    .phone {
        flex-direction: column;
        align-items: center;
    }

    .phone-card {
        min-width: 270px;
    }

    .phone-title-text,
    .phone-price,
    .tablet-title-text,
    .tablet-price {
        min-height: unset;
    }

    .tablet {
        flex-direction: column;
        margin: auto;
        max-width: 500px;
    }

    .tablet-card,
    .tablet-cardborder {
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (max-width:720px) {

    .phone-section,
    .tablet-section {
        margin: 50px 30px;
    }

    .phone-title,
    .tablet-title {
        margin-bottom: 50px;
    }

    .phone,
    .phone-row,
    .tablet {
        flex-direction: column;
        max-width: 500px;
        gap: 30px;
    }

    .phone-card {
        width: 100%;
        max-width: 500px;
    }

    .phone,
    .tablet {
        margin: auto;
    }
}