/* hero section */
.herosection {
    background-image: url('../images/herophone.jpg');
}

/* Phone Section */
.phone-section {
    margin: 100px 54px;
}

.phone-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card Layout */
.phone {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.phone-card {
    width: 245px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.phone-row {
    gap: 50px;
}

/* === ROW 1 : IMAGE === */
.phone-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-img img {
    max-height: 100%;
    max-width: 100%;
}

/* === ROW 2 : TITLE === */
.phone-title-text {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-title-text h5 {
    margin-bottom: 50px;
}

/* === ROW 3 : PRICE === */
.phone-price {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-price p {
    margin: 0;
    line-height: 1.4;
}

.button {
    margin-bottom: auto;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* Tablet Section */
.tablet-section {
    margin: 100px 54px;
}

.tablet-title {
    text-align: center;
    margin-bottom: 100px;
}

/* Card layout */
.tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Inner card */
.tablet-card {
    flex: 0 0 calc(33.33% - 50px);
    width: 345px;
    height: 480px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

/* ===== ROW 1 : IMAGE ===== */
.tablet-img {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet-img img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

/* ===== ROW 2 : TITLE ===== */
.tablet-title-text {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet-title-text h5 {
    margin: 0;
}

/* ===== ROW 3 : PRICE ===== */
.tablet-price {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet-price p {
    margin: 0;
    line-height: 1.4;
}

@media screen and (min-width:1279px) {

    .phone,
    .tablet {
        gap: 50px;
    }
}

@media screen and (max-width:1279px) {

    .phone,
    .tablet {
        gap: 35px;
    }

    .tablet-card {
        width: 300px;
    }
}

@media screen and (max-width:1263px) {

    .phone,
    .tablet {
        gap: 25px;
    }

    .phone-card {
        width: 214px;
    }

    .tablet-card {
        width: 290px;
    }
}

@media screen and (max-width:1080px) {

    .phone {
        gap: 30px;
    }

    .phone-card {
        flex: 0 0 calc(50% - 45px);
        width: 300px;
    }

    .tablet-card {
        flex: 0 0 100%;
        width: 290px;
    }
}

@media screen and (max-width:1058px) {
    .tablet-card {
        width: 270px;
    }
}

@media screen and (max-width:998px) {
    .tablet-card {
        flex: 0 0 100%;
        width: 260px;
    }
}

@media screen and (max-width:968px) {

    .tablet-card {
        flex: 0 0 100%;
        width: 240px;
    }
}

@media screen and (max-width:908px) {

    .tablet-card {
        flex: 0 0 100%;
        width: 380px;
    }
}

@media screen and (max-width:758px) {

    .phone {
        gap: 25px;
    }

    .phone-card {
        flex: 0 0 calc(50% - 45px);
        width: 280px;
    }
}

@media screen and (max-width:720px) {

    .phone-title {
        margin: 0 0 50px 0;
    }

    .phone-section {
        margin: 50px 30px;
    }

    .phone-card {
        flex: 0 0 100%;
        width: 350px;
    }

    .tablet-section {
        margin: 50px 30px;
    }


    .tablet-card {
        flex: 0 0 100%;
        width: 350px;
    }
}