/* hero section */
.herosection {
    background-image: url('../images/heroracing.jpg');
}

/* === button === */
.button {
    margin: auto;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* Title */
.racingset-title,
.wheel-title {
    text-align: center;
    margin-bottom: 100px;
}

/* racingset Section */
.racingset-section {
    margin: 100px 54px;
}

.racingset {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.racingset-card {
    display: flex;
    gap: 60px;
    width: 100%;
    min-height: 400px;
    padding: 20px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.racingsetimg-box {
    flex: 0 0 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.racingset-content ul {
    margin: 0;
}

.racingsetinfo-box {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.racingsetimg-box img {
    max-width: 100%;
    max-height: 100%;
}

.racingset-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 150px;
    margin-top: 20px;
}