/* hero section */
.herosection {
    background-image: url('../images/heroracing.jpg');
}

/* === button === */
.button {
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* racingset Section */
.racingset-section {
    margin: 100px 54px;
}

.racingset-title {
    text-align: center;
    margin-bottom: 100px;
}

.racingset {
    gap: 50px;
}

.racingset-card {
    width: 100%;
    min-height: 400px;
    padding: 20px 20px;
    flex-direction: row;
    align-items: center;
}

.racingsetimg-box {
    flex: 0 0 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.racingsetimg-box img {
    max-width: 100%;
    max-height: 100%;
}

.racingset-bottom {
    display: flex;
    align-items: center;
    gap: 60px;
}