/* hero section */
.herosection {
    background-image: url('../images/heroracing.jpg');
}

/* === button === */
.button {
    margin: auto;
    width: 120px;
    padding: 3px;
}

.button a {
    padding: 15px 20px;
}

/* Title */
.racingset-title,
.wheel-title {
    text-align: center;
    margin-bottom: 100px;
}

/* racingset Section */
.racingset-section,
.wheel-section {
    margin: 100px 54px;
}

.racingset {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.racingset-card {
    display: flex;
    gap: 60px;
    width: 100%;
    min-height: 400px;
    padding: 20px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.racingsetimg-box {
    flex: 0 0 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.racingset-content ul {
    margin: 0;
}

.racingsetinfo-box {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.racingsetimg-box img {
    width: 80%;
}

.racingset-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 150px;
    margin-top: 20px;
}

/* wheel Section */
.wheel {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.wheel-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.wheel-card {
    display: flex;
    gap: 20px;
    width: 100%;
    min-height: 320px;
    padding: 20px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wheelimg-box {
    flex: 0 0 150px;
    display: flex;
}

.wheelimg-box img {
    width: 100%;
}

.wheelinfo-box {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.wheel-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.wheel-card-large {
    display: flex;
    flex-direction: column;
    padding: 40px;
    min-height: 700px;
}

.wheel-title-large {
    text-align: center;
}

.wheel-main-content {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 30px;
}

.wheel-info-points {
    flex: 1;
    max-width: 450px;
}

.wheel-info-points ul {
    margin: 0;
    line-height: 1.8;
}

.wheelimg-box-large {
    flex: 1;
    display: flex;
}

.wheelimg-box-large img {
    max-width: 100%;
}

.wheel-bottom-large {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.wheel-left:first-child,
.wheel-left:last-child,
.wheel-cardborder-large {
    flex: 0 0 50%;
}