h1 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

li {
    color: #ffffff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* hero-section */
.herotittle h1 {
    position: absolute;
    bottom: 260px;
    margin: 0px 0px 0px 54px;
}

.herotittle h5 {
    position: absolute;
    bottom: 240px;
    margin: 0px 0px 0px 54px;
}

/* search-bar */
.searchingarea {
    display: flex;
    margin: 50px 54px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-radius: 46px;
    background-color: black;
    padding: 10px;
    width: 25%;
}

.searchbar p {
    margin: auto
}

.searchbar img {
    margin: auto 5px;
}

.line {
    width: 70%;
    height: 4px;
    background: #8F0256;
    margin: auto 0px auto auto;
    border-radius: 46px;
}

/* product-support */
.pssection {
    margin: 70px 54px 0px 54px;
}

.pstittle {
    text-align: center;
}

.boxofsection {
    display: flex;
    gap: 50px;
    margin: 50px auto 0px auto;
}

.imagebox {
    background-image: url(../images/productsupportpart.jpg);
    background-size: 920px;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
}

.psgroup {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.boxgradient {
    border-radius: 46px;
    background: linear-gradient(45deg, #000399, #FF0000);
    padding: 5px;
    align-items: center;
    width: 45.5%;
}

.pscontentbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    background-color: black;
    padding: 18px;
    align-items: center;
}

.pscontentbox h4 {
    text-align: center;
}