/* herosection */
.herosection {
    background-image: url('../images/supportpageh-herosection.jpg');
}

/* search-bar */
.searchingarea {
    display: flex;
    margin: 20px 54px 50px 54px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--colorblack);
    padding: 10px;
    width: 25%;
}

.sfhbar {
    color: var(--colorwhite);
    font-size: 16px;
    background-color: unset;
    border: unset;
    text-align: center;
}

.searchbar p {
    margin: auto
}

.searchbar img {
    margin: auto 5px;
}

.line {
    width: 70%;
    height: 4px;
    background: #8F0256;
    margin: auto 0px auto auto;
    border-radius: 20px;
}

/* product-support */
.pssection {
    display: flex;
    flex-direction: column;
    margin: 70px 54px 140px 54px;
    justify-content: center;

}

.pstittle {
    text-align: center;
}

.boxofsection {
    display: flex;
    gap: 50px;
    margin: 50px auto 0px auto;
}

.imagebox {
    background-image: url(../images/productsupportpart.jpg);
    background-size: cover;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

.psgroup {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.boxgradient {
    width: 45.5%;
}

.pscontentbox {
    background-color: var(--colorblack);
    align-items: center;
    padding: 40px;
}

.pscontentboxwhite {
    background-color: var(--colorwhite);
    align-items: center;
    padding: 40px;
    color: var(--colorblack);
}

.pscontentbox h4 {
    margin: 0px 0px 5px 0px;
    text-align: center;
}

.pscontentboxwhite h4 {
    margin: 0px 0px 5px 0px;
    text-align: center;
    color: var(--colorblack);
}

.pscontentboxwhite p {
    color: var(--colorblack);
}

.issue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue p {
    margin: 0px;
}

.issueline {
    width: 10%;
    height: 1px;
    background: var(--colorpurple);
    border-radius: 20px;
    margin: 10px 0px;
}

/* still-need-help */
.snhsection {
    margin: 70px 54px;
}

.snhtittle {
    text-align: center;
}

.linktopage {
    display: flex;
    justify-content: center;
}

.goto {
    width: 100%;
}

.goto a {
    text-decoration: none;
}

.warrantyimage {
    background-image: url(../images/warrantyimage.jpg);
    background-size: cover;
    aspect-ratio: 1/0.8;
    background-repeat: no-repeat;
}

.shippingimage {
    background-image: url(../images/shippingimage.jpg);
    background-size: cover;
    background-position: 50%;
    aspect-ratio: 1/0.8;
    background-repeat: no-repeat;
}

.snhboxgradient {
    display: flex;
    position: relative;
    top: -60px;
    width: 85%;
    margin: auto;
}

.snhboxtittle {
    background-color: var(--colorblack);
}

.snhboxtittle h4 {
    margin: 30px;
}

/* faq-section */
.faqsection {
    margin: 0px 54px;
    gap: 10px;
}

.faqtittle {
    display: flex;
}

.faqline {
    width: 84%;
    height: 4px;
    background: var(--colorpurple);
    margin: auto 0px auto auto;
    border-radius: 20px;
}

.questionandanswer {
    width: 50%;
}

.question {
    display: block;
    cursor: pointer;
    z-index: 1001;
}

.question h5 {
    margin: auto auto 0px auto;
}

.underline {
    width: 100%;
    height: 4px;
    background: var(--colorpurple);
    border-radius: 46px;
    margin: 10px 0px 10px 0px;
}

.answer {
    display: none;
    flex-direction: column;
}

.answer p {
    margin: auto 0px 0px 0px;
}

.answer.active {
    display: flex;
}

@media screen and (max-width:1200px) {

    /* product-support */
    .psgroup {
        gap: 30px;
    }
}

@media screen and (max-width:1080px) {

    /* search-bar */
    .searchingarea {
        margin: 20px 30px 50px 30px;
    }

    .searchbar {
        justify-content: space-between;
        width: 30%;
    }

    .sfhbar {
        font-size: 10px;
    }

    .line {
        width: 60%;
    }

    /* product-support */
    .boxofsection {
        flex-direction: column;
        align-items: center;
    }

    .imagebox {
        width: 100%;
        aspect-ratio: 1/0.5;
    }

    .psgroup {
        justify-content: center;
    }
}

@media screen and (max-width:720px) {

    /* search-bar */
    .searchingarea {
        margin: 20px 30px 50px 30px;
    }

    .searchbar {
        justify-content: space-between;
        width: 100%;
    }

    .sfhbar {
        font-size: 10px;
    }

    .line {
        display: none;
    }

    /* product-support */
    .pssection {
        margin: 50px 30px;
    }

    .pstittle {
        width: 100%;
    }

    .boxofsection {
        margin: 18px auto 0px auto;
    }

    .psgroup {
        gap: 10px;
    }

    /* still-need-help */
    .snhsection {
        margin: 50px 30px;
    }

    .linktopage {
        flex-direction: column;
    }

    /* faq */
    .faqsection {
        margin: 0px 30px;
    }

    .questionandanswer {
        width: 100%;
    }
}

@media screen and (max-width:425px) {

    /* product-support */
    .boxgradient {
        width: 100%;
    }

}