/* body */
p {
    margin: 0px;
}

/* herosection */
.herosection {
    background-image: url('../images/supportpageh-herosection.jpg');
}

/* search-bar */
.searchingarea {
    display: flex;
    margin: 20px 54px 50px 54px;
}

.searchbar {
    position: relative;
    border-radius: 20px;
    background-color: var(--colorblack);
    width: 20%;
}

.sfhbar {
    color: var(--colorwhite);
    font-size: 16px;
    background-color: var(--colorblack);
    padding: 10px;
    border-radius: 20px;
    border: unset;
    width: 100%;
}

.searchbar p {
    margin: auto
}

.searchbar img {
    position: absolute;
    right: 10px;
    top: 30%;
}

.line {
    width: 70%;
    height: 4px;
    background: #8F0256;
    margin: auto 0px auto auto;
    border-radius: 20px;
}

/* product-support */
.pssection {
    display: flex;
    flex-direction: column;
    margin: 70px 54px 140px 54px;
    justify-content: center;

}

.pstittle {
    text-align: center;
}

.boxofsection {
    display: flex;
    gap: 50px;
    margin: 50px auto 0px auto;
}

.imagebox {
    background-image: url(../images/productsupportpart.jpg);
    background-size: cover;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

.psgroup {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.boxgradient {
    width: 45.5%;
}

.pscontentbox {
    background-color: var(--colorblack);
    align-items: center;
}

.pscontentboxwhite {
    background-color: var(--colorwhite);
    align-items: center;
    color: var(--colorblack);
}

.pscontentbox h4 {
    width: 90%;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.pscontentboxwhite h4 {
    width: 90%;
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: var(--colorblack);
}

.pscontentboxwhite p {
    color: var(--colorblack);
}

.issue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issueline {
    width: 10%;
    height: 1px;
    background: var(--colorpurple);
    border-radius: 20px;
    margin: 10px 0px;
}

/* still-need-help */
.snhsection {
    margin: 70px 54px;
}

.snhtittle {
    text-align: center;
}

.linktopage {
    display: flex;
    justify-content: center;
}

.goto {
    width: 100%;
}

.goto a {
    text-decoration: none;
}

.animation {
    animation: reveal 5s both;
    animation-timeline: view();
    animation-range: entry 50% cover 80%;
}

@keyframes reveal {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(80px);
    }

    30% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.warrantyimage {
    background-image: url(../images/warrantyimage.jpg);
    background-size: cover;
    aspect-ratio: 1/0.8;
    background-repeat: no-repeat;

}

.shippingimage {
    background-image: url(../images/shippingimage.jpg);
    background-size: cover;
    background-position: 50%;
    aspect-ratio: 1/0.8;
    background-repeat: no-repeat;
}

.snhboxgradient {
    display: flex;
    position: relative;
    top: -60px;
    width: 85%;
    margin: auto;
}

.snhboxtittle {
    background-color: var(--colorblack);
}

.snhboxtittle h4 {
    margin: 30px;
}

/* faq-section */
.faqsection {
    margin: 0px 54px;
    gap: 10px;
}

.faqtittle {
    display: flex;
}

.faqline {
    width: 84%;
    height: 4px;
    background: var(--colorpurple);
    margin: auto 0px auto auto;
    border-radius: 20px;
}

.questionandanswer {
    width: 50%;
}

.question {
    display: block;
    cursor: pointer;
    z-index: 1001;
}

.question h5 {
    margin: auto auto 0px auto;
}

.underline {
    width: 100%;
    height: 4px;
    background: var(--colorpurple);
    border-radius: 46px;
    margin: 10px 0px 10px 0px;
}

.answer {
    display: none;
    flex-direction: column;
}

.answer p {
    margin: auto 0px 0px 0px;
}

.answer.active {
    display: flex;
}

/* screen-size */
@media screen and (max-width:1200px) {

    /* product-support */
    .psgroup {
        gap: 30px;
    }
}

@media screen and (max-width:1080px) {

    /* search-bar */
    .searchingarea {
        margin: 20px 30px 50px 30px;
    }

    .searchbar {
        width: 30%;
    }

    .sfhbar {
        font-size: 10px;
    }

    .searchbar img {
        top: 25%;
        right: 5px;
    }

    .line {
        width: 60%;
    }

    /* product-support */
    .boxofsection {
        flex-direction: column;
        align-items: center;
    }

    .imagebox {
        width: 100%;
        aspect-ratio: 1/0.5;
    }

    .psgroup {
        justify-content: center;
    }
}

@media screen and (max-width:750px) {
    .pscontentbox h4 {
        width: 90%;
    }

    .pscontentboxwhite h4 {
        width: 90%;
    }
}

@media screen and (max-width:720px) {

    /* search-bar */
    .searchingarea {
        margin: 20px 30px 50px 30px;
    }

    .searchbar {
        justify-content: space-between;
        width: 100%;
    }

    .sfhbar {
        font-size: 10px;
        width: 100%;
    }

    .line {
        display: none;
    }

    /* product-support */
    .pssection {
        margin: 50px 30px;
    }

    .pstittle {
        width: 100%;
    }

    .boxofsection {
        margin: 18px auto 0px auto;
    }

    .psgroup {
        gap: 10px;
    }

    /* still-need-help */
    .snhsection {
        margin: 50px 30px;
    }

    .linktopage {
        flex-direction: column;
    }

    /* faq */
    .faqsection {
        margin: 0px 30px;
    }

    .questionandanswer {
        width: 100%;
    }
}

@media screen and (max-width:425px) {

    /* product-support */
    .boxgradient {
        width: 100%;
    }

}