h1 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

li {
    color: #ffffff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* hero-section */
.herotittle h1 {
    position: absolute;
    bottom: 260px;
    margin: 0px 0px 0px 54px;
}

.herotittle h5 {
    position: absolute;
    bottom: 240px;
    margin: 0px 0px 0px 54px;
}

/* search-bar */
.searchingarea {
    display: flex;
    margin: 50px 54px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-radius: 46px;
    background-color: black;
    padding: 10px;
    width: 25%;
}

.searchbar p {
    margin: auto
}

.searchbar img {
    margin: auto 5px;
}

.line {
    width: 70%;
    height: 4px;
    background: #8F0256;
    margin: auto 0px auto auto;
    border-radius: 46px;
}

/* product-support */
.pstittle {
    text-align: center;
}

.imagebox {
    background-image: url(../images/productsupportpart.jpg);
    background-size: 800px;
    background-position: 20%;
    border-radius: 46px;
    width: 20%;
    aspect-ratio: 1/2;
}