h1 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

li {
    color: #ffffff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* hero-section */
.herotittle h1 {
    position: absolute;
    bottom: 260px;
    margin: 0px 0px 0px 54px;
}

.herotittle h5 {
    position: absolute;
    bottom: 240px;
    margin: 0px 0px 0px 54px;
}

/* search-bar */
.searchingarea {
    display: flex;
    margin: 50px 54px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-radius: 46px;
    background-color: black;
    padding: 10px;
    width: 25%;
}

.sfhbar {
    color: #ffffff;
    font-size: 16px;
    background-color: unset;
    border: unset;
    text-align: center;
}

.searchbar p {
    margin: auto
}

.searchbar img {
    margin: auto 5px;
}

.line {
    width: 70%;
    height: 4px;
    background: #8F0256;
    margin: auto 0px auto auto;
    border-radius: 46px;
}

/* product-support */
.pssection {
    margin: 70px 54px 140px 54px;
}

.pstittle {
    text-align: center;
}

.boxofsection {
    display: flex;
    gap: 50px;
    margin: 50px auto 0px auto;
}

.imagebox {
    background-image: url(../images/productsupportpart.jpg);
    background-size: 920px;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
}

.psgroup {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.boxgradient {
    border-radius: 46px;
    background: linear-gradient(45deg, #000399, #FF0000);
    padding: 5px;
    align-items: center;
    width: 45.5%;
}

.pscontentbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    background-color: black;
    padding: 18px;
    align-items: center;
}

.pscontentbox h4 {
    margin: 30px;
    text-align: center;
}

/* still-need-help */
.snhsection {
    margin: 70px 54px;
}

.snhtittle {
    text-align: center;
}

.linktopage {
    display: flex;
    justify-content: center;
}

.goto {
    width: 100%;
}

.goto a {
    text-decoration: none;
}

.warrantyimage {
    background-image: url(../images/warrantyimage.jpg);
    background-size: 900px;
    aspect-ratio: 1/0.8;
}

.shippingimage {
    background-image: url(../images/shippingimage.jpg);
    background-size: 980px;
    background-position: 50%;
    aspect-ratio: 1/0.8;
}

.snhboxgradient {
    position: relative;
    top: -60px;
    border-radius: 46px;
    background: linear-gradient(45deg, #000399, #FF0000);
    padding: 5px;
    align-items: center;
    width: 90%;
    margin: auto;
}

.snhboxtittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    background-color: black;
    padding: 8px;
    align-items: center;
}

.snhboxtittle h4 {
    margin: 30px;
}

/* faq-section */
.faqsection {
    margin: 0px 54px;
    gap: 10px;
}

.faqtittle {
    display: flex;
}

.faqline {
    width: 84%;
    height: 4px;
    background: #8F0256;
    margin: auto 0px auto auto;
    border-radius: 46px;
}

.questionandanswer {
    width: 50%;
}

.question {
    display: block;
    cursor: pointer;
    z-index: 1001;
}

.question h5 {
    margin: auto auto 0px auto;
}

.underline {
    width: 100%;
    height: 4px;
    background: #8F0256;
    border-radius: 46px;
    margin: 10px 0px 10px 0px;
}

.answer {
    display: none;
    flex-direction: column;
}

.answer p {
    margin: auto 0px 0px 0px;
}

.answer.active {
    display: flex;
}