/* body */
p {
    margin: unset;
}

ul {
    padding: 0px 20px;
    margin: unset;
}

/* herosection */
.herosection {
    background-image: url('../images/warrantypage-herosection.jpg');
}

/* Warranty-Coverage */
.wcsection {
    display: flex;
    flex-direction: column;
    margin: 70px 54px 140px 54px;
    justify-content: center;

}

.wctittle {
    text-align: center;
}

.boxofwcsection {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.wc-section {
    display: flex;
    gap: 50px;
}

.wcimagebox-mobile {
    background-image: url(../images/pc-6816636_1280.jpg);
    background-size: cover;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

.wcgroup {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    width: 50%;
}

.wcboxgradient {
    width: 100%;
}

.wccontentbox {
    background-color: var(--colorblack);
}

.wccontentboxwhite {
    background-color: var(--colorwhite);
    color: var(--colorblack);
}

.wccontentbox h4 {
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.wccontentboxwhite h4 {
    margin: 0px 0px 20px 0px;
    width: 100%;
    color: var(--colorblack);
}

.wccontentboxwhite p {
    color: var(--colorblack);
    width: 100%;
}

.coverage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wcimagebox {
    background-image: url(../images/pc-6816636_1280.jpg);
    background-size: cover;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

.wcimagebox-second {
    background-image: url(../images/ai-generated-9161446_1920.jpg);
    background-size: cover;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

.wcimagebox-second-mobile {
    background-image: url(../images/ai-generated-9161446_1920.jpg);
    background-size: cover;
    background-position: 20%;
    border-radius: 46px;
    width: 50%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

/* What’s-Covered */
.whtcsection {
    display: flex;
    flex-direction: column;
    margin: 70px 54px 140px 54px;
    justify-content: center;
}

.whtctittle {
    text-align: center;
}

.whtcinside-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.whtccontentbox {
    background-color: var(--colorblack);
}

.whtgroup {
    display: flex;

}

.whtcover {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.coverline {
    width: 10%;
    height: 1px;
    background: var(--colorpurple);
    border-radius: 20px;
    margin: 10px 0px;
}

.whtcline {
    width: 4px;
    height: 380px;
    background: var(--colorpurple);
    margin: 20px;
    border-radius: 20px;
}

/* What’s-not-Covered */
.whtccontentboxwhite {
    background-color: var(--colorwhite);
}

.whtnotcover {
    width: calc(100%/3);
}

.whtnotcover-intro h5,
.whtnotcover h5 {
    color: var(--colorblack);
    margin: 0;
}

.whtnotcover-intro p,
.whtnotcover li {
    color: var(--colorblack);
    margin: 10px;
}

.whtnotgroup {
    display: flex;
    gap: 50px;
}

.whtnotgroup-inside {
    display: flex;
    justify-content: center;
    width: 50%;
}

.whtnotgroup-inside-second {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

/* Replacement-Policy */
.rp-section {
    display: flex;
    flex-direction: column;
    margin: 70px 54px 140px 54px;
    justify-content: center;
}

.rptittle {
    text-align: center;
}

.rp-introbox {
    display: flex;
    gap: 40px;
}

.rp-boxgradient {
    width: 100%;
}

.rp-contentbox {
    background-color: var(--colorwhite);
    align-items: normal;
    justify-content: unset;
}

.rp-contentbox h4 {
    margin: unset;
}

.rp-contentbox h4,
.rp-contentbox p,
.rp-contentbox li {
    color: var(--colorblack);
}

.rp-contentbox-black {
    background-color: var(--colorblack);
    align-items: normal;
    justify-content: unset;
}

.rp-contentbox-black h4 {
    margin: unset;
}

/*  Warranty-Claim-Process */
.wcp-section {
    display: flex;
    flex-direction: column;
    margin: 70px 54px 140px 54px;
    justify-content: center;
}

.wcptittle {
    text-align: center;
}

/* scroll */
.scrollcontainer {
    display: flex;
    overflow-x: auto;
    gap: 50px;
    padding: 20px 0px;
}

.scrollcontainer::-webkit-scrollbar {
    display: none;
}

.scrollcontainer.active {
    cursor: grabbing;
}

/* -stepbox- */

.step h5 {
    width: 300px;
}

.wcp-tittleboxgradient:hover {
    transform: none;
}

.wcp-tittleboxgradient {
    border-radius: 36px;
}

.wcp-tittlecontentbox {
    background-color: var(--colorblack);
    padding: 20px;
    border-radius: 34px;
}

.wcp-tittlecontentbox h5 {
    margin: unset;
    text-align: center;
}

.wcp-boxgradient:hover {
    transform: none;
}

.wcp-boxgradient {
    height: 100%;
}

.wcp-contentbox {
    background-color: var(--colorblack);
    justify-content: unset;
    align-items: unset;
    padding: unset;
}

.wcp-contentboxwhite {
    background-color: var(--colorwhite);
    justify-content: unset;
    align-items: unset;
    padding: unset;
}

.wcp-contentwhite,
.wcp-content {
    padding: 40px;
}

.wcp-contentwhite h5,
.wcp-content h5 {
    margin: 0px 0px 24px 0px;
}

.wcp-contentwhite h5,
.wcp-contentwhite p,
.wcp-contentwhite li {
    color: var(--colorblack);
}

/* -stepbox-end- */

/* screen-size */
@media screen and (max-width:1120px) {

    /* Replacement-Policy */
    .rp-introbox {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:1080px) {

    /* what-cover */

    .whtcline {
        display: flex;
        width: 4px;
        height: 250px;
    }

    /*  Warranty-Claim-Process */

}

@media screen and (max-width:720px) {

    /* Warranty-Coverage */
    .wcimagebox-mobile {
        width: 100%;
    }

    .wcimagebox-second-mobile {
        width: 100%;
    }

    .wcgroup {
        width: 100%;
    }

    .wc-section {
        flex-direction: column;
    }

    .coverage {
        width: 100%;
    }

    .wcimagebox {
        display: none;
    }

    .wcimagebox-second {
        display: none;
    }

    /* what-cover */
    .whtgroup {
        flex-direction: column;
    }

    .whtcline {
        display: flex;
        width: 100%;
        height: 4px;
        margin: 20px 0px;
    }

    /* What’s-not-Covered */
    .whtnotcover {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .whtnotgroup {
        flex-direction: column;
        align-items: center;
    }

    .whtnotgroup-inside {
        width: 100%;
    }

    .whtnotgroup-inside-second {
        flex-direction: column;
        align-items: center;
    }

    /* Replacement-Policy */
    .rp-contentbox {
        width: 100%;
        height: 100%;
    }

    .rp-contentbox-black {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width:720px) {
    .wcimagebox-mobile {
        display: none;
    }

    .wcimagebox-second-mobile {
        display: none;
    }
}

@media screen and (max-width:500px) {

    /*  Warranty-Claim-Process */

    /* scroll */
    .scrollcontainer {
        flex-direction: column;
    }

    .scrollcontainer.active {
        display: none;
    }

}